@model AlmaCMS.ViewModels.VMArticle
@using AlmaCMS.Helpers
@{
    ViewBag.Title = Model.Title;
    ViewBag.Keywords = Model.Keyword;
    ViewBag.Description = Model.ShortDesc;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <div class="breadcrumb-box">
        <div class="container">
            <ul class="breadcrumb">
                <li>
                    <a href="/Home">صفحه اصلی</a>
                </li>
                <li>
                    <a title="@ViewBag.GroupTitle" href="/Articles/index/@ViewBag.GroupID/@ViewBag.GroupTitleUrl">@ViewBag.GroupTitle</a>
                </li>
                <li class="active">@Model.Title</li>
            </ul>
        </div>
    </div>
</div>
<section style="padding-top: 20px !important;" class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="post-image opacity"></div>
                <div class="post-content top-pad-20">
                    <h4 class="FontISB" style="font-size: 20px; color: #414141">@Model.Title</h4>
                    <div class="col-sm-8 col-xs-12" style="float: right; background-color: #dcdcdc; padding: 10px 20px; border-radius: 3px;margin-bottom:20px;">
                        <div class="col-xs-12" style="padding-right:0px;padding-left:0px">
                            <i class="fa fa-bookmark pull-right" style="padding-top:5px;"></i>
                            <span class="pull-right" style="font-weight: bold;color:#002147;">خلاصه مقاله</span>
                            <p class="pull-left" style="font-size:9px !important;color:#002147;"><span>تاریخ انتشار : <span id="ContentPlaceHolder1_LblDate">@Model.DateInsert.ToPersianShortDate()</span></span></p>
                        </div>
                        <p>
                            @Model.ShortDesc
                        </p>
                    </div>
                    <div class="col-sm-4 col-xs-12" style="float: left; padding-left: 0px;">
                        <div class="hover14">
                            <figure>
                                <img class="img-responsive" src="@Model.Image" alt="@Model.Title" style="border-radius: 5px; border: 2px solid #e5e5e5; height:154px;">

                            </figure>
                        </div>
                    </div>
                    <div style="text-align: justify; line-height: 30px;">
                        @Html.Raw(Model.ArticleContent)
                    </div>
                </div>

            </div>
        </div>
        <hr>
    </div>
</section>

