@model AlmaCMS.ViewModels.VMProducts

@{
    ViewBag.Title = "ویرایش محصول";
    Layout = "~/Areas/Manage/Views/Shared/_LayoutAdmin.cshtml";
}
<link href="~/Scripts/jquery-ui.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/ckeditor/ckeditor.js"></script>
<script src="~/ckeditor/adapters/jquery.js"></script>
<link href="~/Content/Plugins/DatePickerMastr/css/persianDatepicker-default.css" rel="stylesheet" />
<link href="~/Content/Plugins/DatePickerMastr/css/prism.css" rel="stylesheet" />

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h4 class="panel-title">ویرایش محصول</h4>
                <ul class="panel-tool-options">
                    <li><a data-rel="collapse" href="#"><i class="icon-down-open"></i></a></li>
                    <li><a data-rel="reload" href="#"><i class="icon-arrows-ccw"></i></a></li>
                    <li><a href="/Manage/ManageProducts/Index/@Model.GroupID"><i class="icon-left"></i></a></li>
                    <li><a data-rel="close" href="#"><i class="icon-cancel"></i></a></li>
                </ul>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.id)
                    @Html.HiddenFor(model => model.GroupID)
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="col-md-7 col-md-offset-1">
                            <div class="form-group">
                                <div class="control-label col-md-2" style="padding:0px;">
                                    عنوان
                                </div>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="control-label col-md-2" style="padding:0px;">
                                    قیمت قبلی
                                </div>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.PriceBeforeDiscount, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.PriceBeforeDiscount, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="control-label col-md-2" style="padding:0px;">
                                    قیمت
                                </div>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="control-label col-md-4" style="padding-right:0px;padding-left:0px;">
                                        تاریخ شروع تخفیف
                                    </div>
                                    <div class="col-md-8">
                                        @*@Html.EditorFor(model => model.SpecialSaleStartDate, new { htmlAttributes = new { @class = "form-control  FromDate" } })*@
                                        <input type="text" value="@AlmaCMS.Helpers.Extentions.ToPersianShortDate(Model.SpecialSaleStartDate.Value)" class="form-control FromDate" />
                                        @Html.ValidationMessageFor(model => model.SpecialSaleStartDate, "", new { @class = "text-danger" })
                                        @Html.HiddenFor(model => model.SpecialSaleStartDate)
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="control-label col-md-4" style="padding-right:0px;padding-left:0px;">
                                        تاریخ پایان تخفیف
                                    </div>
                                    <div class="col-md-8">
                                        @Html.HiddenFor(model => model.SpeciaSaleEndDate)
                                        @*@Html.EditorFor(model => model.SpeciaSaleEndDate, new { htmlAttributes = new { @ } })*@
                                        <input type="text" value="@AlmaCMS.Helpers.Extentions.ToPersianShortDate(Model.SpeciaSaleEndDate.Value)" class="form-control Todate" />
                                        @Html.ValidationMessageFor(model => model.SpeciaSaleEndDate, "", new { @class = "text-danger " })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="control-label col-md-2" style="padding:0px;">
                                    وضعیت موجودی
                                </div>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.ExistStatus, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ExistStatus, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="control-label col-md-2" style="padding:0px;">
                                    تعداد موجودی
                                </div>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.ExistCount, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ExistCount, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="control-label col-md-2" style="padding:0px;">
                                    اولویت
                                </div>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Priority, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Priority, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="control-label col-md-2" style="padding:0px;">
                                    توضیحات کوتاه
                                </div>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="control-label col-md-2" style="padding:0px;">
                                    توضیحات متا
                                </div>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Keywords, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Keywords, "", new { @class = "text-danger" })
                                </div>
                                @*<script>
                                    $('#Keywords').attr("data-role", "tagsinput");
                                </script>*@

                            </div>
                            <div class="col-md-2">&nbsp;</div>
                            <div class="form-group input-group col-md-10 upload-form-group">
                                <span class="input-group-btn ">
                                    <button id="btnUpload" type="button" class="btn btn-blue" onclick="openCustomRoxy2()"><i class="fa fa-upload"></i>آپلود تصویر</button>
                                </span>
                                @Html.EditorFor(model => model.Image, new { htmlAttributes = new { @class = "form-control TxtImg txtImageName text-left", @id = "Image", @value = @Model.Image, @onchange = "setimageurl();", @onkeyup = "this.onchange();", @oninput = "this.onchange();", @onpaste = "this.onchange();" } })
                            </div>
                            @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-4">
                            <div id="DivImg" class="text-center" style="text-align: center!important">
                                <img src="@Model.Image" id="ImgPriview" class="img-responsive ImgPriview pull-right" style="margin-bottom:15px;" />
                            </div>
                        </div>
                        <div class="col-md-12">

                            <div class="form-group">
                                <div class="control-label col-md-2" style="padding:0px;">
                                    مشخصات فنی محصول
                                </div>
                                <div class="col-md-10">
                                    @Html.TextAreaFor(model => model.Specification, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Specification, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <script>
                                $('#Specification').ckeditor();
                            </script>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-4">
                                    <input type="submit" value="ثبت" class="btn btn-success btn-block" />
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div id="roxyCustomPanel2" style="display: none;">
    <iframe src="/Scripts/RoxyFileManager/index.html?integration=custom&txtFieldId=Image&ImageID=ImgPriview" style="width:100%;height:100%" frameborder="0"></iframe>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval");

<script src="~/Content/Plugins/DatePickerMastr/js/persianDatepicker.min.js"></script>
<script src="~/Content/Plugins/DatePickerMastr/js/prism.js"></script>
    <script>
        function openCustomRoxy2() {
            $('#roxyCustomPanel2').dialog({ modal: true, width: 875, height: 600 });
        }
        function closeCustomRoxy2() {
            $('#roxyCustomPanel2').dialog('close');
        }
    </script>
    <script type="text/javascript">
        function setimageurl() {
            $('#ImgPriview').attr('src', $('#ImageUrl').val());
        }
    </script>

<script>

    var to, from;


    fromdate = $(".FromDate").persianDatepicker({


        onSelect: function () {
            var pd = new persianDate();
            var value = pd.parse($(".FromDate").val());

            var jdf = new jDateFunctions();

            $('#SpecialSaleStartDate').val(jdf.getGDate(value)._toString("YYYY-MM-DD"));

        }
    });


    to = $(".Todate").persianDatepicker({


        onSelect: function () {
            var pd = new persianDate();
            var value = pd.parse($(".Todate").val());

            var jdf = new jDateFunctions();

            $('#SpeciaSaleEndDate').val(jdf.getGDate(value)._toString("YYYY-MM-DD"));

        }
    });

    $(".FromDate").change(function () {
        if ($(".FromDate").val() == '') {
            $('#SpecialSaleStartDate').val('');

        }
    });
    $(".Todate").change(function () {
        if ($(".Todate").val() == '') {
            $('#SpeciaSaleEndDate').val('');

        }
    });


</script>
}