@using PagedList;
@using PagedList.Mvc;

@using AlmaCMS.Helpers
@model IPagedList<AlmaCMS.ViewModels.VMNews>
@{
    var GroupInfo = ViewBag.GroupInfo as AlmaCMS.Models.NewsGroup;
    ViewBag.Title = "اخبار و مقالات" + "-" + GroupInfo.Title;
    ViewBag.Descriptions = "";
    ViewBag.Keywords = "";

    Layout = "~/Views/shared/_LayoutSite.cshtml";

}
<link href="/Areas/Manage/Content/plugins/datatables/css/jquery.dataTables.css" rel="stylesheet" />
<link href="/Areas/Manage/Content/plugins/datatables/extensions/Buttons/css/buttons.dataTables.css" rel="stylesheet" />
<link href="~/Areas/Manage/Content/css/bootstrap.min.css" rel="stylesheet">
<div class="row content-layout-wrapper align-items-start">


    <div class="site-content shop-content-area col-lg-12 col-12 col-md-9 order-md-last description-area-before content-with-products" role="main">
        <div class="woocommerce-notices-wrapper"></div>

        <div class="shop-loop-head">
            <div class="woodmart-woo-breadcrumbs">
                <nav class="woocommerce-breadcrumb">
                    <a href="/" class="breadcrumb-link breadcrumb-link-last">خانه</a>
                    <span class="breadcrumb-last"><a> @GroupInfo.Title</a></span>
                </nav>		<p class="woocommerce-result-count">

                </p>
            </div>

        </div>


        <div class="woodmart-active-filters">
        </div>

        <div class="woodmart-shop-loader"></div>



        <div class="products elements-grid align-items-start woodmart-products-holder  woodmart-spacing-0 pagination-pagination row grid-columns-4" data-source="main_loop" data-min_price="" data-max_price="">






            @{ int i = (ViewBag.pageNumber - 1) * 10; }
            @foreach (var item in Model)
            {
                i++;
                <div class="product-grid-item wd-with-labels product product-no-swatches woodmart-hover-base  col-md-3 col-sm-4 col-12 first  type-product post-3622 status-publish first instock product_cat-uncategorized has-post-thumbnail sale shipping-taxable purchasable product-type-simple" data-loop="1" data-id="3622">


                    <div class="product-wrapper">
                        <div class="content-product-imagin"></div>
                        <div style="    background-color: white;
    padding-top: 33px;" class="product-element-top">
                            <a href="/blog/read/@item.id/@item.Title.toSlugify()" class="product-image-link">
                                <div class="product-labels labels-rounded">
                                    <!--<span class="onsale product-label">


                                        آمار بازدید @item.VisitCount
                                    </span>-->
                                </div>
                                <img width="600" height="600" src="@item.Image" alt="@item.Title" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" sizes="(max-width: 600px) 100vw, 600px" />
                            </a>
                            <h3 class="product-title"><a href="/blog/read/@item.id/@item.Title.toSlugify()">@item.Title</a></h3>
                            <h3 class="product-title"><a href="/blog/read/@item.id/@item.Title.toSlugify()" style="text-align:justify;margin-right:10px; margin-left:10px; direction:rtl">@Html.Raw(item.ShortDesc)</a></h3>
                            <h3 class="product-title"><a href="/blog/read/@item.id/@item.Title.toSlugify()">منتشر شده در : @item.DateInsert.ToPersianShortDate()</a></h3>

                            <div style="    padding-bottom: 17px;
    padding-top: 7px;" class="product-rating-price">
                                <div class="wrapp-product-price">

                                    <span class="price">
                                        <ins>
                                            <span class="woocommerce-Price-amount amount">
                                                &nbsp;
                                            </span>
                                        </ins>
                                    </span>
                                </div>
                            </div>
                            <div class="wrapp-swatches"></div>

                            <div style="    background-color: white;
    padding: 0px 25px 10px 30px;
    border-top: 1px solid #f3f3f3;" class="product-information">


                                <div class="col-md-12 btn-cart">
                                    <a href="/blog/read/@item.id/@item.Title.toSlugify()" class="">ادامه مطلب</a>
                                </div>








                            </div>
                        </div>
                        <style>
                            .woodmart-highlighted-products .woodmart-hover-base.product-in-carousel {
                                border-radius: 20px;
                            }

                            .product-grid-item .product-image-link img, .product-grid-item .hover-img img {
                                width: 68%;
                                padding-top: 30px;
                                padding-bottom: 92px;
                            }

                            .product-information ul li {
                                float: left;
                            }

                            .woodmart-hover-base .wd-bottom-actions .wd-action-btn.wd-style-icon > a, .woodmart-hover-base .wd-compare-btn > a {
                                height: 50px;
                            }

                            .woodmart-highlighted-products .elements-grid, .woodmart-highlighted-products.woodmart-carousel-container {
                                border: 0px !important;
                            }

                            .woodmart-highlighted-products .elements-grid, .woodmart-highlighted-products.woodmart-carousel-container {
                                padding-top: 0px;
                            }

                            .title-wrapper {
                                margin-bottom: 11px;
                            }

                            .woodmart-highlighted-products:not(.with-title) .owl-nav > div[class*="prev"] {
                                right: 5px;
                                width: 25px;
                                font-size: 14px;
                                height: 25px;
                                border-radius: 0;
                                background-color: transparent;
                                box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
                            }

                            .woodmart-highlighted-products:not(.with-title) .owl-nav > div[class*="next"] {
                                left: 5px;
                                width: 25px;
                                font-size: 14px;
                                height: 25px;
                                border-radius: 0;
                                background-color: transparent;
                                box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
                            }

                            .woodmart-highlighted-products .owl-nav > div:after, .woodmart-highlighted-products .wrap-loading-arrow > div:after {
                                font-size: 17px;
                            }
                        </style>

                    </div>

                </div>

            }





















        </div>

        <div style="text-align:center">


        </div>


    </div>


</div>


<div class="row">
    <div class="col-xs-12">

        <div class="row">
            <div class="col-lg-12">
                صفحه @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) از @Model.PageCount

                @Html.PagedListPager(Model, page => Url.Action("Index",
      new { searchString = ViewBag.SearchString, page }))
            </div>

        </div>
    </div>
</div>


@section Scripts{
    <script src="/Areas/Manage/Content/plugins/datatables/js/jquery.dataTables.js"></script>
    <script src="/Areas/Manage/Content/plugins/datatables/js/dataTables.bootstrap.min.js"></script>
    <script src="/Areas/Manage/Content/plugins/datatables/extensions/Buttons/js/dataTables.buttons.min.js"></script>
    <script src="/Areas/Manage/Content/plugins/datatables/js/jszip.min.js"></script>
    <script src="/Areas/Manage/Content/plugins/datatables/js/pdfmake.min.js"></script>
    <script src="/Areas/Manage/Content/plugins/datatables/js/vfs_fonts.js"></script>
    <script src="/Areas/Manage/Content/plugins/datatables/extensions/Buttons/js/buttons.html5.js"></script>
    <script src="/Areas/Manage/Content/plugins/datatables/extensions/Buttons/js/buttons.colVis.js"></script>
    <script src="/Areas/Manage/Content/plugins/datatables/js/dataTables-script.js"></script>
}
