@using AlmaCMS.Helpers

@model AlmaCMS.ViewModels.VMProducts
@{
    /**/


    ViewBag.Title = Model.Title;

    var GroupInfo = ViewBag.GroupInfo as AlmaCMS.Models.ProductsGroup;

    var ImageList = ViewBag.ImageList as List<AlmaCMS.Models.ProductsImage>;
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
@section HeaderSection
{
    <meta property="og:locale" content="fa_IR" />
    <meta property="og:type" content="product" />
    <meta property="og:title" content="@Model.Title" />
    <meta name="description" content="@Model.Keywords"
    <meta property="og:description" content="@Model.Keywords" />
    />


}

<link href="~/Content/alertifyjs/alertify.rtl.css" rel="stylesheet" />
<link href="~/Content/Plugins/rating/css/style.css" rel="stylesheet" />
<link href="~/Content/Plugins/rating/css/rating.css" rel="stylesheet" />
<meta property="og:locale" content="fa_IR" />
<meta property="og:type" content="product" />
<meta property="og:title" content="@Model.PriceBeforeDiscount" />
@*<meta property="og:description" content="@Model.Keywords" />*@

<link rel="stylesheet" href="/css/app.css">
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="post-context post-full-context">

                <div class="post-image post-full-image">

                </div>

                <h1 class="post-title post-full-title">
                    <input type="hidden" value="@Model.id" id="PublicProductID" />
                    <span id="ContentPlaceHolder1_lblTitle2">@Model.Title</span>
                </h1>

                <div class="post-content post-full-content figure-content break-word">


                    <article class="blog-post blog-compact-post">

                        <div class="blog-post-image blog-compact-post-image">
                            <div class="vc_row wpb_row vc_row-fluid vc_custom_1499591488348 vc_row-o-equal-height vc_row-o-content-middle vc_row-flex">

                                <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-10 vc_col-md-10 vc_col-has-fill">
                                    <div class="vc_column-inner vc_custom_1499612446263">
                                        <div class="wpb_wrapper">
                                            <div id="gallery_195" class="woodmart-images-gallery view-grid photoswipe-images">
                                                <div class="gallery-images row woodmart-spacing-10">
                                                   

                                                    <div class="woodmart-gallery-item col-12">
                                                        <a href="@Model.Image" data-index="2" data-width="1000" data-height="594">

                                                            <img class="woodmart-gallery-image image-2 " src="@Model.Image" width="500" height="643" />
                                                        </a>
                                                    </div>

                                                    @foreach (var item in ImageList)
                        {
                                                    <div class="woodmart-gallery-item col-12">
                                                        <a href="@Model.Image" data-index="2" data-width="1000" data-height="594">

                                                            <img class="woodmart-gallery-image image-2 " src="@Model.Image" width="500" height="643" />
                                                        </a>
                                                    </div>

                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>


                        @*<h2 class="blog-post-title blog-compact-post-title">
                            <a href="#" class="blog-post-link blog-compact-post-link" title="">
                                <span id="ContentPlaceHolder1_lblTitle">@Model.Title</span>
                            </a>
                        </h2>*@
                        <div class="blog-post-excerpt blog-compact-post-excerpt break-word">
                            <p>
                                <!--<span id="ContentPlaceHolder1_lblTitle1">درباره ما</span>-->

                                <span id="ContentPlaceHolder1_lblText">
                            <p dir="RTL">
                                <strong>
                                    <h3 class="midFooter-about-title text-right" style="color: #000000; font-size: 12px ">
                                        <i class="fa fa-clock-o" aria-hidden="true"></i>دسته بندی این محصول:
                                        <a class="active" href="/products/@GroupInfo.id/@GroupInfo.Title.toSlugify()">
                                            @GroupInfo.Title
                                        </a>
                                    </h3>
                                    <br />
                                    <h2 class="midFooter-about-title text-right" style="font-size: 16px">
                                        @Model.Description <br />
                                    </h2>
                                    <br />
                                    <h2  style="font-size: 14px">
                                    @Html.Raw(Model.Specification)
                                    </h2>
                                    <br />
                                    تعداد بازدید:  @Model.VisitCount
                                    @if (Model.ExistStatus == true)
                                    {

                                        <a href="#" style="padding: 12px 20px; background: #ff0000; font-weight: bold; color: #fff; font-size: 14px; float: left; direction: rtl">

                                            <strike>
                                                قیمت قبلی  @Model.PriceBeforeDiscount ریال
                                            </strike>


                                        </a>

                                        <a style="padding: 12px 20px; background: #009dcd; font-weight: bold; color: #fff; font-size: 14px; float: left; direction: rtl"
                                           href="/cart/addtocart/@Model.id" rel="nofollow">
                                            خرید محصول - قیمت     @Model.Price ریال

                                        </a>
                                    }
                                    else
                                    {
                                        <a href="#" style="padding: 12px 20px; background: #ff0000; font-weight: bold; color: #fff; font-size: 14px; float: left; direction: rtl">

                                            <strike>
                                                ناموجود
                                            </strike>


                                        </a>
                                    }


                                    <asp:ListView ID="ListView1" runat="server" ItemPlaceholderID="itemPlaceHolder">
                                        <LayoutTemplate>
                                            <asp:PlaceHolder runat="server" ID="itemPlaceholder"></asp:PlaceHolder>
                                        </LayoutTemplate>
                                        <ItemTemplate>


                                        </ItemTemplate>
                                    </asp:ListView>
                                </strong><strong><span dir="LTR">.</span></strong>
                            </p>
                            </span></p>
                        </div>

                    </article>



                </div>
            </div>
        </div>
    </div>
</div>












@*<section class="speak-about-us">
        <div class="container-fluid">

            @{
                var ReviewListRes = ViewBag.ReviewList as List<AlmaCMS.Models.ProductReview>
                    ;
                Html.RenderPartial("/views/Products/_CommentsResponsive.cshtml", ReviewListRes);
            }
        </div>
    </section>*@




@section Scripts
{
    <script src="~/Scripts/alertify.js"></script>
    <script src="~/Content/Plugins/rating/js/dist/rating.min.js"></script>
    <script src="~/Content/Site/js/EmailValidation.js"></script>
    <script>
        (function () {
            'use strict';
            // SHOP ELEMENT
            var shop = document.querySelector('#shop');
            // DUMMY DATA
            var data = [
                {
                    rating: 5
                }
            ];
            // INITIALIZE
            (function init() {
                for (var i = 0; i < data.length; i++) {
                    addRatingWidget(buildShopItem(data[i]), data[i]);
                }
            })();
            // BUILD SHOP ITEM
            function buildShopItem(data) {
                var shopItem = document.createElement('div');
                var html =
                    '<ul class="c-rating"></ul>' +
                    '</div>';
                shopItem.classList.add('c-shop-item');
                shopItem.innerHTML = html;
                shop.appendChild(shopItem);

                return shopItem;
            }
            // ADD RATING WIDGET
            function addRatingWidget(shopItem, data) {
                var ratingElement = shopItem.querySelector('.c-rating');
                var currentRating = data.rating;
                var maxRating = 5;
                var callback = function (rating) {
                    $("#ddlRWRate").val(rating)
                };
                var r = rating(ratingElement, currentRating, maxRating, callback);
            }
        })();

    </script>
}