@using PagedList;
@using PagedList.Mvc;
@using AlmaCMS.Helpers
@model IPagedList<AlmaCMS.ViewModels.VMProducts>

@{


    var GroupInfo = ViewBag.GroupInfo as AlmaCMS.Models.ProductsGroup;
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
    ViewBag.Title = @GroupInfo.Keywords;
}

@section HeaderSection
{
    @*<meta name="description" content=" @GroupInfo.Keywords"
        <meta property="og:description" content=" @GroupInfo.Keywords" />*@


    <meta name="description" content="دارت کالا بزرگترین فروشگاه اینترنتی لوازم یدکی خودرو برای انواع خودروهای داخلی و خارجی،ارسال کلیه قطعات خودرو به صورت عمده و تک در 24 ساعت به سراسر ایران
            (لوازم یدکی اورجینال و با کیفیت با مناسب ترین قیمت) " />
    <link rel="canonical" href="https://dartkala.com/Products/@GroupInfo.id/@GroupInfo.Title" />
    <link href="~/Content/Site/css/Product.css" rel="stylesheet" />


}



<link href="/Areas/Manage/Content/plugins/datatables/css/jquery.dataTables.css" rel="stylesheet" />
<link href="/Areas/Manage/Content/plugins/datatables/extensions/Buttons/css/buttons.dataTables.css" rel="stylesheet" />
<link href="~/Areas/Manage/Content/css/bootstrap.min.css" rel="stylesheet">



<div class="main-page-wrapper">


    <!-- MAIN CONTENT AREA -->
    <div class="container col-md-12 ">
        <div class="row content-layout-wrapper align-items-start">



            <div class="overlaysitecustom"></div>
            <div class="site-content col-lg-12 col-12 col-md-12" role="main">

                <article id="post-809" class="post-809 page type-page status-publish hentry">

                    <div class="entry-content">
                        <div class="vc_row wpb_row vc_row-fluid">
                            <div class="wpb_column vc_column_container vc_col-sm-12">
                                <div class="vc_column-inner">
                                    <div class="wpb_wrapper">
                                        <div id="wd-5ea71900c04f2" class="title-wrapper  woodmart-title-color-primary woodmart-title-style-bordered woodmart-title-width-100 text-center woodmart-title-size-default vc_custom_1474541679842">
                                            <div class="title-subtitle  font-default subtitle-style-default woodmart-font-weight-"><br />دارت کالا</div>

                                            <div class="liner-continer">
                                                <span class="left-line"></span>
                                                <h4 class="woodmart-title-container title  woodmart-font-weight-"><strong>آخرین محصولات</strong></h4>								<span class="right-line"></span>
                                            </div>
                                            <h1 class="woodmart-title-container title  woodmart-font-weight-">
                                                <div class="title-after_title">@GroupInfo.Keywords</div>
                                            </h1>

                                        </div>
                                        <input type="hidden" id="groupid" value="@ViewBag.GroupId" />
                                        <div id="listContainer" class="row col-md-12">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article><!-- #post -->
            </div><!-- .site-content -->
        </div><!-- .main-page-wrapper -->
    </div> <!-- end row -->
</div>

<div class="row">
    <div class="col-xs-12" style="text-align:center">

        <nav aria-label="...">
            <ul id="pageination" class="pagination">
            </ul>
        </nav>
    </div>
</div>


<div class="overlaysitecustom"></div>
<div class="site-content col-lg-12 col-12 col-md-12" role="main">

    <article id="post-809" class="post-809 page type-page status-publish hentry">

        <div class="entry-content">
            <div class="vc_row wpb_row vc_row-fluid">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div id="wd-5ea71900c04f2" class="title-wrapper  woodmart-title-color-primary woodmart-title-style-bordered woodmart-title-width-100 text-center woodmart-title-size-default vc_custom_1474541679842">
                                <div class="title-subtitle  font-default subtitle-style-default woodmart-font-weight-"><br />دارت کالا</div>

                                <div class="liner-continer">
                                    <span class="left-line"></span>
                                    <h4 class="woodmart-title-container title  woodmart-font-weight-"><strong>@GroupInfo.Keywords</strong></h4>								<span class="right-line"></span>
                                </div>
                                <h2 class="woodmart-title-container title  woodmart-font-weight-">
                                    <div class="title-after_title">@Html.Raw(GroupInfo.Description)</div>
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>



@section Scripts{
    <script src="/Areas/Manage/Content/plugins/datatables/js/jquery.dataTables.js"></script>
    <script src="/Areas/Manage/Content/plugins/datatables/js/dataTables.bootstrap.min.js"></script>
    <script src="/Areas/Manage/Content/plugins/datatables/extensions/Buttons/js/dataTables.buttons.min.js"></script>
    <script src="/Areas/Manage/Content/plugins/datatables/js/jszip.min.js"></script>
    <script src="/Areas/Manage/Content/plugins/datatables/js/pdfmake.min.js"></script>
    <script src="/Areas/Manage/Content/plugins/datatables/js/vfs_fonts.js"></script>
    <script src="/Areas/Manage/Content/plugins/datatables/extensions/Buttons/js/buttons.html5.js"></script>
    <script src="/Areas/Manage/Content/plugins/datatables/extensions/Buttons/js/buttons.colVis.js"></script>
    <script src="/Areas/Manage/Content/plugins/datatables/js/dataTables-script.js"></script>
    <script src="~/Content/Site/js/Pageination.js?1.0"></script>
    <script>
        $(document).ready(function () {
            var groupid = '@ViewBag.GroupId';
            getData(0, groupid);

        })
        function getData(start, groupid) {
            $('#loader').css('display', '')
            $.ajax({
                url: '/Products/GetProducts',
                type: "post",
                data: { start: start, pagesize:16, groupid: groupid },
                success: function (result) {
                    setContent(result);
                },
                error: function (error) {
                    console.log(error);
                }
            })
        }
        function setContent(content) {
            $('#listContainer').children().remove();
            var data = content.data;
            $.each(data, function (index, value) {
                var item = ` <div class="card col-md-3 card-container">
                                                <a href="/products/details/${value.id}/${value.title}">
                                                    <img class="card-img-top" src="${value.image}" alt="${value.title}">
                                                </a>
                                                <div class="card-body">
                                                    <a href="/products/details/${value.id}/${value.title}">
                                                        <h3 class="h3-customfont">${value.normalTitle}</h3>
                                                    </a>
                                                    <a href="/cart/addtocart/${value.id}" class="btn card-cart" rel="nofollow">افزودن به سبد</a>
                                                    <div>  <span class="discount-text">1 ریال</span></div>
                                                </div>
                                                <div class="card-footer">
                                                    <div class="card-footer-item">
                                                        <a href="/cart" rel="nofollow" title="مشاهده سبد خرید">
                                                            <i class="fa fa-shopping-cart card-icons"></i>
                                                        </a>
                                                    </div>
                                                    <div class="card-footer-item">
                                                        <a href="/products/details/${value.id}/${value.title}" title="اطلاعات بیشتر">
                                                            <i class="fa fa-search card-icons"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div> `;
                $('#listContainer').append(item);
            });
            setPageination(content);
        }
        function loadlist(e) {
            if ($(e).closest('li').hasClass('disabled'))
                return;
            var start = ($(e).attr('data-value') - 1) * 16;
            var groupid = $('#groupid').val();
            getData(start, groupid);
        }
    </script>
}
