@model AlmaCMS.Models.ProductReview

@{
    ViewBag.Title = "حذف نظرات محصولات";
    Layout = "~/Areas/Manage/Views/Shared/_LayoutAdmin.cshtml";
}
@section styles{
    <style>
        .fa-star {
            color: #0096D6 !important;
            margin: 0px !important;
        }
    </style>
}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading محصولات">
                <h4 class="panel-title">حذف نظرات محصولات</h4>
                <ul class="panel-tool-options">
                    <li><a data-rel="collapse" href="#"><i class="icon-down-open"></i></a></li>
                    <li><a data-rel="reload" href="#"><i class="icon-arrows-ccw"></i></a></li>
                    <li><a href="/AdminShop/ManageProductReview"><i class="icon-left"></i></a></li>
                    <li><a data-rel="close" href="#"><i class="icon-cancel"></i></a></li>
                </ul>
            </div>
            <div class="panel-body">

                <h3 class="text-danger">آیا مطمئن هستید که می خواهید این نظر را حذف کنید؟</h3>
                <div>
                    <hr />
                    <dl class="dl-horizontal">

                        <dt>
                            تاریخ  درج
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.DateInsert)
                        </dd>

                        <dt>
                            عنوان محصولات
                        </dt>

                        <dd>
                            @Model.Product.Title
                        </dd>

                        <dt>
                            امتیاز
                        </dt>

                        <dd>
                            @if (Model.Rate == 1)
                            {
                                <i class="fa fa-star"></i>
                            }
                            else if (Model.Rate == 2)
                            {
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            }
                            else if (Model.Rate == 3)
                            {
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            }
                            else if (Model.Rate == 4)
                            {
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            }
                            else if (Model.Rate == 5)
                            {
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            }
                        </dd>
                        <dt>
                            نام کاربر
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>

                        <dt>
                            عنوان
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Title)
                        </dd>

                        <dt>
                            متن نظر
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Comment)
                        </dd>
                    </dl>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        if (ViewBag.ErrorMessage == null)
                        {


                            <div class="form-actions no-color">
                                <input type="submit" value="بله ، حذف شود !" class="btn btn-danger" />
                            </div>
                        }
                        else
                        {

                            <div class=" alert alert-danger">
                                <i class=" fa fa-warning"></i>
                                <span>
                                    @ViewBag.ErrorMessage
                                </span>
                            </div>

                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>