@model AlmaCMS.ViewModels.VMprojectsgroup

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Manage/Views/Shared/_LayoutAdmin.cshtml";
}
<link href="~/Scripts/jquery-ui.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/ckeditor/ckeditor.js"></script>
<script src="~/ckeditor/adapters/jquery.js"></script>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h4 class="panel-title">ثبت گروه پروژه جدید</h4>
                <ul class="panel-tool-options">
                    <li><a data-rel="collapse" href="#"><i class="icon-down-open"></i></a></li>
                    <li><a data-rel="reload" href="#"><i class="icon-arrows-ccw"></i></a></li>
                    <li><a href="/manage/ManageProjectsGroup"><i class="icon-left"></i></a></li>
                    <li><a data-rel="close" href="#"><i class="icon-cancel"></i></a></li>
                </ul>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.id)
                        <div class="col-md-7 col-md-offset-1">
                            <div class="form-group">
                                <div class="control-label col-md-2" style="padding:0px;">
                                    عنوان
                                </div>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="control-label col-md-2" style="padding:0px;">
                                    توضیحات
                                </div>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Descriotion, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Descriotion, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="control-label col-md-2" style="padding:0px;">
                                    کلمات کلیدی
                                </div>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Keywords, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Keywords, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-2">&nbsp;</div>
                            <div class="form-group input-group col-md-10 upload-form-group">
                                <span class="input-group-btn ">
                                    <button id="btnUpload" type="button" class="btn btn-blue" onclick="openCustomRoxy2()"><i class="fa fa-upload"></i>آپلود تصویر</button>
                                </span>
                                @Html.EditorFor(model => model.Image, new { htmlAttributes = new { @class = "form-control TxtImg txtImageName text-left", @id = "ImageUrl", @onchange = "setimageurl();", @onkeyup = "this.onchange();", @oninput = "this.onchange();", @onpaste = "this.onchange();" } })
                            </div>
                            @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-4">
                            <div id="DivImg" class="text-center" style="text-align: center!important">
                                <img src="@Model.Image" id="ImgPriview" class="img-responsive ImgPriview pull-right" style="margin-bottom:15px;" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-4">
                                    <input type="submit" value="ثبت" class="btn btn-success btn-block" />
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div id="roxyCustomPanel2" style="display: none;">
    <iframe src="/Scripts/RoxyFileManager/index.html?integration=custom&txtFieldId=ImageUrl&ImageID=ImgPriview" style="width:100%;height:100%" frameborder="0"></iframe>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval");


    <script>
        function openCustomRoxy2() {
            $('#roxyCustomPanel2').dialog({ modal: true, width: 875, height: 600 });
        }
        function closeCustomRoxy2() {
            $('#roxyCustomPanel2').dialog('close');
        }
    </script>
<script type="text/javascript">
    function setimageurl() {
        $('#ImgPriview').attr('src', $('#ImageUrl').val());
    }
</script>
}