@model AlmaCMS.ViewModels.VMRegisterMember

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}


<div class="page-title page-title-default title-size-default title-design-centered color-scheme-light" style="background-image: url(/content/site/images/page.jpg); height:250px; width:100%">
    <div class="container">
        <header class="entry-header">
            <h1 class="entry-title"></h1>
        </header>
    </div>
</div><br />

<div class="divider">
    <div class="line red"></div>
    <span class="section">
        <span class="title">عضویت در سایت</span>
    </span>
    <div class="line red"></div>
</div>

<div class="topFooter text-center">
    <div class="row justify-content-between">
        <div class="col-md-12 signup-Text" style="text-align: center">

        </div>

    </div>
</div>
@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{@Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="midFooter" style="background-color: #ffffff">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-md-6 midFooter-about mr-auto">

                        <div class="col-md-12">
                            <div class="vspacer30"></div>


                            <div style="margin-bottom: 10px;">
                                <div class="col-md-8">
                                    @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "نام" } })
                                   
                                    <span style="color: red;">
                                        @Html.ValidationMessageFor(model => model.Name, "", new { htmlAttributes = new { @class = "text-danger" } })
                                    </span>
                                </div>
                                <div class="clear"></div>
                            </div>


                            <!--
                                <div style="margin-bottom:10px; ">
                            <div class="col-md-8">
                            <asp:TextBox runat="server" ID="txtFamily" placeholder="نام خانوادگی" CssClass="form-control"></asp:TextBox>
                            <span style="color:red;"><asp:RequiredFieldValidator ID="RequiredFieldValidator4" runat="server" ErrorMessage="*"
                            ControlToValidate="txtFamily" ValidationGroup="1222"></asp:RequiredFieldValidator>    </span>
                            </div><div class="clear"></div></div>-->

                            <div style="margin-bottom: 10px;">
                                <div class="col-md-8">
                                   
                                        @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "ایمیل" } })

                                        <span style="color: red;">
                                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                        </span>
                                    
                                <div class="clear"></div>
                            </div>

                            <div style="margin-bottom: 10px;">
                                <div class="col-md-8">
                                 
                                        @Html.EditorFor(m => m.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "رمز عبور" } })

                                        <span style="color: red;">
                                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                        </span>
                                   
                                </div>
                                <div class="clear"></div>
                            </div>

                            <div style="margin-bottom: 10px;">
                                <div class="col-md-8">
                                    @Html.EditorFor(m => m.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "تکرار کلمه عبور" } })

                                    <span style="color: red;">
                                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                    </span>

                               
                                </div>
                                <div class="clear"></div>
                            </div>

                            <div style="margin-bottom: 10px;">
                                <div class="col-md-8">
                                    @Html.EditorFor(m => m.NationalCode, new { htmlAttributes = new { @class = "form-control", @placeholder = "کد ملی  10 رقمی" } })

                                    <span style="color: red;">
                                        @Html.ValidationMessageFor(model => model.NationalCode, "", new { @class = "text-danger" })
                                    </span>

                                   
                                </div>
                                <div class="clear"></div>
                            </div>

                            <div style="margin-bottom: 10px;">
                                <div class="col-md-8">

                                    @Html.EditorFor(m => m.MobileNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "شماره همراه" } })

                                    <span style="color: red;">
                                        @Html.ValidationMessageFor(model => model.MobileNumber, "", new { @class = "text-danger" })
                                    </span>

                                    
                                    <span style="color: red;"></span>
                                </div>
                                <div class="clear"></div>
                                توجه: در صورتی که شماره های تبلیغاتی را بلاک کرده باشید، کد تایید شماره موبایل برای شما ارسال نخواهد شد.
                            </div>



                        </div>

                    </div>
                    </div>
                    <div class="col-md-6 row d-flex midFooter-symbols p-0">







                        <div class="col-md-12" style="border-right: 1px solid #ccc;">
                            <div class="vspacer30"></div>



                            <div style="margin-bottom: 10px;">
                                <div class="col-md-8">


                                    @Html.EditorFor(m => m.Phone, new { htmlAttributes = new { @class = "form-control", @placeholder = "تلفن ثابت" } })

                                    <span style="color: red;">
                                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                                    </span>

                                </div>
                                <div class="clear"></div>
                            </div>

                            <div style="margin-bottom: 10px;">
                                <div class="col-md-8">


                                    @Html.EditorFor(m => m.PostalCode, new { htmlAttributes = new { @class = "form-control", @placeholder = "کد پستی" } })

                                    <span style="color: red;">
                                        @Html.ValidationMessageFor(model => model.PostalCode, "", new { @class = "text-danger" })
                                    </span>
                                </div>
                                <div class="clear"></div>
                            </div>

                            <div style="margin-bottom: 10px;">
                                <div class="col-md-8">
                                    @Html.DropDownListFor(model => model.StateID, new SelectList(ViewBag.Introductions, "id", "Title"), new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.StateID, "", new { @class = "text-danger" })
                                </div>
                                <div class="clear"></div>
                            </div>

                            <div style="margin-bottom: 10px;">
                                <div class="col-md-8">


                                    @Html.EditorFor(m => m.City, new { htmlAttributes = new { @class = "form-control", @placeholder = "شهر" } })

                                    <span style="color: red;">
                                        @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                                    </span>

                                </div>
                                <div class="clear"></div>
                            </div>

                            <div style="margin-bottom: 10px;">
                                <div class="col-md-8">


                                    @Html.EditorFor(m => m.Address, new { htmlAttributes = new { @class = "form-control", @placeholder = "آدرس پستی" } })

                                    <span style="color: red;">
                                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                    </span>
                                </div>
                                <div class="clear"></div>
                            </div>

                            <div style="margin-bottom: 10px;">
                                <div class="col-md-8">

                                    @Html.DropDownListFor(model => model.introductionId, new SelectList(ViewBag.Introductions, "id", "Title"), new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.introductionId, "", new { @class = "text-danger" })
                                </div>
                                <div class="clear"></div>
                            </div>

                            <div style="margin-bottom: 10px;">

                                <div class="col-md-8">
                                    @Html.DropDownListFor(model => model.RegisterType, new SelectList(ViewBag.RegisterType, "Id", "Title"), new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.RegisterType, "", new { @class = "text-danger" })
                                </div>
                                <div class="clear"></div>
                            </div>











                         


                            <div style="margin-bottom: 10px;">
                                <div class="col-md-8">

                                    <input type="checkbox" id="Policy" name="Policy" value="Policy">
                                    <a href="http://www.pusnazari.com/page.aspx?type=2" target="_blank">قوانین خرید از سایت </a>را خوانده و با آن موافقم

                                </div>
                                <div class="clear"></div>
                            </div>

                            <div style="margin-bottom: 10px;">
                                <div class="col-md-8">
                                    <button id="btnSubmit" disabled type="submit" class="btn btn-success pull-left ">ثبت نام</button>
                                </div>
                                <div class="clear"></div>
                            </div>



                        </div>


                    </div>
                    <div class="clear"></div>
                </div>
            </div>


        </div>
        


}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

            <script>

                $(function () {
                    $('#Policy').click(function () {
                        if ($(this).is(':checked')) {

                            $('#btnSubmit').removeAttr('disabled');
                            $('#btnSubmit').removeClass('disabled-submit');

                        } else {

                            $('#btnSubmit').attr('disabled', 'disabled');
                            $('#btnSubmit').addClass('disabled-submit');
                        }
                    });
                });
            </script>
}
