@model IEnumerable<AlmaCMS.Models.VWExpertTask>

@using AlmaCMS.Helpers;
@using AlmaCMS.Models;
@using AlmaCMS.Repositories;
@using AlmaCMS.ViewModels;


@{
    ViewBag.Title = "وظایف";
    Layout = "~/Areas/Expert/Views/Shared/_LayoutDashboardExpert.cshtml";
}
<link href="~/Areas/Manage/Content/plugins/datatables/css/jquery.dataTables.css" rel="stylesheet" />
<link href="~/Areas/Manage/Content/plugins/datatables/extensions/Buttons/css/buttons.dataTables.css" rel="stylesheet" />
@helper GetRemainTime(DateTime ExpireDate)
{
    string Strret = "";
    var Diffdate = ExpireDate - DateTime.Now;
   
    if(ExpireDate>DateTime.Now)
    { 
    if (Diffdate.Days > 0)
    {
        Strret += Diffdate.Days.ToString() + "روز و";

    }
    if (Diffdate.Hours > 0)
    {
        Strret += Diffdate.Hours + " ساعت و ";
    }
    Strret += Diffdate.Minutes + " دقیقه ";
    <span>
        @Strret
    </span>
    }
    else
    {
        <span>
            -
        </span>
    }

}
@helper getUsers(int taskid)
{
    AlmaCMS.Models.DB_AlmaCmsEntities db = new AlmaCMS.Models.DB_AlmaCmsEntities();
    AlmaCMS.Repositories.TasksRepository reptask = new AlmaCMS.Repositories.TasksRepository(db);
    var userList = reptask.GetDapperTaskUsers(taskid).ToList();
    foreach (var item in userList)
    {

        <span class="label label-info">
            @item.Name
        </span>
    }
}
<div class="tg-dashboardbanner">
    <h1>وظایف</h1>
    <ol class="tg-breadcrumb">
        <li><a href="/">صفحه اصلی</a></li>
        <li><a href="/expert/Profile">حساب کاربری</a></li>
        <li class="tg-active">وظایف</li>
    </ol>
</div>
<main id="tg-main" class="tg-main tg-haslayout">
    <section class="tg-dbsectionspace tg-haslayout">
        <div class="row">
            <div class="tg-formtheme tg-formdashboard">
                <fieldset>
                    <div class="tg-dashboardbox">
                        <div class="col-xs-12 tg-lgcolwidthhalf" style="margin-bottom:0px;">
                            <div class="tg-dashboardboxtitle">
                                <h2> وظایف ارجاع داده شده به من </h2>
                            </div>
                            <div class="tg-dashboardholder" style="padding-bottom:0px;">
                                <div style="border:solid 1px #ccc;margin-bottom:20px;">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped dataTables-example" style="margin-bottom:0px !important">
                                            <thead>
                                                <tr>
                                                    <th style="width:50px;">ردیف</th>
                                                    <th style="width:150px;">تاریخ</th>
                                                    <th>عنوان</th>
                                                    <th> کاربران </th>
                                                    <th>مهلت انجام</th>
                                                    <th>وضعیت</th>
                                                    <th>عملیات</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    int RowIndex = 1;
                                                }
                                                @foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <td>
                                                            <span class="tblf">
                                                                @Html.Raw(RowIndex)
                                                            </span>
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.persiandateinsert)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Title)
                                                        </td>

                                                        <td>
                                                            @getUsers(item.id)
                                                        </td>

                                                        <td>
                                                            @GetRemainTime(item.ExpireDate.Value)
                                                        </td>

                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.StatusTitle)
                                                        </td>
                                                        <td>
                                                            <a href="@Url.Action("Details", "tasks", new { area = "expert", id = item.id })" class="btn btn-warning btn-xs" data-toggle="tooltip" data-placement="top" title="نمایش"><i class="fa fa-list"></i></a>
                                                            <a href="@Url.Action("SendAnswer", "tasks", new { area = "expert", id = item.id })" class="btn btn-info btn-xs" data-toggle="tooltip" data-placement="top" title="ارسال پاسخ"><i class="fa fa-mail-reply"></i></a>
                                                        </td>
                                                    </tr>
                                                    RowIndex++;
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </section>
</main>
@section Scripts{
    <script src="~/Areas/Manage/Content/plugins/datatables/js/jquery.dataTables.js"></script>
    <script src="~/Areas/Manage/Content/plugins/datatables/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Areas/Manage/Content/plugins/datatables/extensions/Buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Areas/Manage/Content/plugins/datatables/js/jszip.min.js"></script>
    <script src="~/Areas/Manage/Content/plugins/datatables/js/pdfmake.min.js"></script>
    <script src="~/Areas/Manage/Content/plugins/datatables/js/vfs_fonts.js"></script>
    <script src="~/Areas/Manage/Content/plugins/datatables/extensions/Buttons/js/buttons.html5.js"></script>
    <script src="~/Areas/Manage/Content/plugins/datatables/extensions/Buttons/js/buttons.colVis.js"></script>
    <script src="~/Areas/Manage/Content/plugins/datatables/js/dataTables-script.js"></script>
}