<!DOCTYPE html>

<html dir="rtl" lang="fa-IR">
<head>

    @{
        string googlefolow = string.IsNullOrEmpty(ViewBag.ISCartPage) ? "index, follow" : "noindex, nofollow";
    }
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>


    @*<meta name="keywords" content="@ViewBag.Keywords" />*@
    <meta name="rating" content="Safe For Kids" />
    <meta content="index" name="googlebot" />
    <meta name="robots" content="@googlefolow" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    @*<meta name="description" content="@ViewBag.Descriptions" />*@
    @*<meta name="keywords" content="@ViewBag.Keywords" />*@
    <!--<meta name="rating" content="Safe For Kids" />
    <meta content="index" name="googlebot" />
    <meta name="robots" content="index, follow" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">-->


    @RenderSection("HeaderSection", false)

    <meta name="rating" content="Safe For Kids" />

    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="icon" type="image/ico" href="/favicon.ico" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel='stylesheet' href='/Content/Site/css/style-rtl.min.css?ver=5.3.2' type='text/css' media='all' />
    <link rel='stylesheet' href='/Content/Site/css/style.css?ver=2.4.5' type='text/css' media='all' />
    <link rel='stylesheet' href='/Content/Site/css/rs6.css?ver=6.1.5' type='text/css' media='all' />
    <style id='rs-plugin-settings-inline-css' type='text/css'>
        #rs-demo-id {
        }
    </style>
    <style id='woocommerce-inline-inline-css' type='text/css'>
        .woocommerce form .form-row .required {
            visibility: visible;
        }
    </style>
    <style>
        #loader {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 9999;
            opacity: 0.5;
            background: url('/Areas/Manage/Content/images/loading_UpAndDown.gif') 50% 50% no-repeat rgb(249,249,249);
        }
    </style>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-M3244G1XQJ"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-M3244G1XQJ');
    </script>
    <link rel='stylesheet' href='/Content/Site/css/js_composer.min.css?ver=6.1' type='text/css' media='all' />
    <link rel='stylesheet' href='/Content/Site/css/font-awesome.min.css?ver=4.3.0' type='text/css' media='all' />
    <link rel='stylesheet' href='/Content/Site/css/bootstrap.min.css?ver=4.3.0' type='text/css' media='all' />
    <link rel='stylesheet' href='/Content/Site/css/style-rtl.min.css?ver=4.3.0' type='text/css' media='all' />
    <link rel='stylesheet' href='/Content/Site/css/xts-header_374016-1577891490.css?ver=4.3.0' type='text/css' media='all' />
    <link rel='stylesheet' href='/Content/Site/css/xts-theme_settings_default-1578260760.css?ver=4.3.0' type='text/css' media='all' />

    <script type="text/template" id="tmpl-variation-template">
        <div class="woocommerce-variation-description">{{{ data.variation.variation_description }}}</div>
        <div class="woocommerce-variation-price">{{{ data.variation.price_html }}}</div>
        <div class="woocommerce-variation-availability">{{{ data.variation.availability_html }}}</div>
    </script>
    <script type="text/template" id="tmpl-unavailable-variation-template">
        <p>با عرض پوزش، این محصول در دسترس نیست. خواهشمندیمً ترکیب دیگری را انتخاب کنید.</p>
    </script>
    <script type='text/javascript' src='/Content/Site/js/jquery.js?ver=1.12.4-wp'></script>
    <script type='text/javascript' src='/Content/Site/js/jquery-migrate.min.js?ver=1.4.1'></script>
    <script type='text/javascript' src='/Content/Site/js/revolution.tools.min.js?ver=6.0'></script>
    <script type='text/javascript' src='/Content/Site/js/rs6.min.js?ver=6.1.5'></script>
    <script type='text/javascript' src='/Content/Site/js/jquery.blockUI.min.js?ver=2.70'></script>

    <script type='text/javascript' src='/Content/Site/js/add-to-cart.min.js?ver=3.8.1'></script>
    <script type='text/javascript' src='/Content/Site/js/woocommerce-add-to-cart.js?ver=6.1'></script>
    <link rel="stylesheet" href="/Content/Site/css/rtl.css" type="text/css" media="screen" />
    <meta name="theme-color" content="">

    <noscript>
        <style>
            .woocommerce-product-gallery {
                opacity: 1 !important;
            }
        </style>
    </noscript>
    <script type="text/javascript">function setREVStartSize(t) { try { var h, e = document.getElementById(t.c).parentNode.offsetWidth; if (e = 0 === e || isNaN(e) ? window.innerWidth : e, t.tabw = void 0 === t.tabw ? 0 : parseInt(t.tabw), t.thumbw = void 0 === t.thumbw ? 0 : parseInt(t.thumbw), t.tabh = void 0 === t.tabh ? 0 : parseInt(t.tabh), t.thumbh = void 0 === t.thumbh ? 0 : parseInt(t.thumbh), t.tabhide = void 0 === t.tabhide ? 0 : parseInt(t.tabhide), t.thumbhide = void 0 === t.thumbhide ? 0 : parseInt(t.thumbhide), t.mh = void 0 === t.mh || "" == t.mh || "auto" === t.mh ? 0 : parseInt(t.mh, 0), "fullscreen" === t.layout || "fullscreen" === t.l) h = Math.max(t.mh, window.innerHeight); else { for (var i in t.gw = Array.isArray(t.gw) ? t.gw : [t.gw], t.rl) void 0 !== t.gw[i] && 0 !== t.gw[i] || (t.gw[i] = t.gw[i - 1]); for (var i in t.gh = void 0 === t.el || "" === t.el || Array.isArray(t.el) && 0 == t.el.length ? t.gh : t.el, t.gh = Array.isArray(t.gh) ? t.gh : [t.gh], t.rl) void 0 !== t.gh[i] && 0 !== t.gh[i] || (t.gh[i] = t.gh[i - 1]); var r, a = new Array(t.rl.length), n = 0; for (var i in t.tabw = t.tabhide >= e ? 0 : t.tabw, t.thumbw = t.thumbhide >= e ? 0 : t.thumbw, t.tabh = t.tabhide >= e ? 0 : t.tabh, t.thumbh = t.thumbhide >= e ? 0 : t.thumbh, t.rl) a[i] = t.rl[i] < window.innerWidth ? 0 : t.rl[i]; for (var i in r = a[0], a) r > a[i] && 0 < a[i] && (r = a[i], n = i); var d = e > t.gw[n] + t.tabw + t.thumbw ? 1 : (e - (t.tabw + t.thumbw)) / t.gw[n]; h = t.gh[n] * d + (t.tabh + t.thumbh) } void 0 === window.rs_init_css && (window.rs_init_css = document.head.appendChild(document.createElement("style"))), document.getElementById(t.c).height = h, window.rs_init_css.innerHTML += "#" + t.c + "_wrapper { height: " + h + "px }" } catch (t) { console.log("Failure at Presize of Slider:" + t) } };</script>
   

    <link rel="stylesheet" href="/Content/Site/css/LayoutSite.css" type="text/css" media="screen"  />
    <script type='text/javascript' src='/Content/Site/js/avatar-manager.min.js?ver=1.2.1'></script>


</head>
<body class="rtl home page-template-default page page-id-13 theme-woodmart woocommerce-no-js wrapper-wide form-style-rounded form-border-width-1 categories-accordion-on woodmart-ajax-shop-on offcanvas-sidebar-mobile offcanvas-sidebar-tablet notifications-sticky sticky-toolbar-on btns-default-rounded btns-default-dark btns-default-hover-dark btns-shop-rounded btns-shop-light btns-shop-hover-light btns-accent-rounded btns-accent-light btns-accent-hover-light wpb-js-composer js-comp-ver-6.1 vc_responsive">

    @using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {@Html.AntiForgeryToken()}

    <div style="display:none" id="loader"></div>

    <div class="website-wrapper">

        <header class="whb-header whb-sticky-shadow whb-scroll-stick whb-sticky-real">

            <div class="whb-main-header">

                <div class="whb-row whb-top-bar whb-not-sticky-row whb-with-bg whb-border-fullwidth whb-color-light whb-flex-flex-middle">
                    <div class="container">
                        <div class="whb-flex-row whb-top-bar-inner">
                            <div class="whb-column whb-col-left whb-visible-lg">

                                <div class="whb-text-element reset-mb-10 ">
                                    <div class="whb-column whb-col-left whb-visible-lg">
                                        <div class="whb-text-element reset-mb-10 "><strong>نیاز به قطعه دارید، نگران نباشید، در کنار شما هستیم / سریع تحویل بگیرید</strong></div>

                                        @if (!User.Identity.IsAuthenticated)
                                        {
                                            <a href="/Account/Register"><i class="pusn-login"></i> عضویت</a>
                                            <a href="/account/login"><i class="pusn-register"></i> ورود</a>
                                        }
                                        else
                                        {
                                            if (User.IsInRole("Member"))
                                            {
                                                <a href="/profile"><i class="pusn-login"></i> @User.Identity.Name</a>
                                                <a href="javascript:document.getElementById('logoutForm').submit()"><i class="pusn-register"></i> خروج</a>
                                            }
                                            else if (User.IsInRole("Expert"))
                                            {
                                                <a href="/Expert/Profile"><i class="pusn-login"></i> @User.Identity.Name</a>
                                                <a href="javascript:document.getElementById('logoutForm').submit()"><i class="pusn-register"></i> خروج</a>
                                            }
                                            else if (User.IsInRole("Admin"))
                                            {
                                                <a href="/Manage/Admin/dashboard"><i class="pusn-login"></i> @User.Identity.Name</a>
                                                <a href="javascript:document.getElementById('logoutForm').submit()"><i class="pusn-register"></i> خروج</a>
                                            }
                                        }

                                    </div>
                                </div>
                            </div>
                            <div class="whb-column whb-col-center whb-visible-lg whb-empty-column">
                            </div>
                            <div class="whb-column whb-col-right whb-visible-lg">

                                <div class="woodmart-social-icons text-center icons-design-default icons-size- color-scheme-light social-share social-form-circle">
                                    <a rel="nofollow" href="#" target="_blank" class=" woodmart-social-icon social-facebook">
                                        <i class="fa fa-facebook"></i>
                                        <span class="woodmart-social-icon-name">فیس بوک</span>
                                    </a>

                                    <a rel="nofollow" href="#" target="_blank" class=" woodmart-social-icon social-twitter">
                                        <i class="fa fa-twitter"></i>
                                        <span class="woodmart-social-icon-name">Twitter</span>
                                    </a>


                                    <a rel="nofollow" href="https://www.instagram.com/dartkala" target="_blank" class=" woodmart-social-icon social-linkedin">
                                        <i class="fa fa-instagram"></i>
                                        <span class="woodmart-social-icon-name">instagram</span>
                                    </a>

                                    <a rel="nofollow" href="#" target="_blank" class=" woodmart-social-icon social-tg">
                                        <i class="fa fa-telegram"></i>
                                        <span class="woodmart-social-icon-name">تلگرام</span>
                                    </a>

                                </div>

                                <div class="whb-divider-element whb-divider-stretch "></div><div class="whb-navigation whb-secondary-menu site-navigation woodmart-navigation menu-right navigation-style-bordered" role="navigation">
                                    <div class="menu-top-bar-right-container">
                                        <ul id="menu-top-bar-right" class="menu">
                                            <li id="menu-item-401" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-401 item-level-0 menu-item-design-default menu-simple-dropdown item-event-hover"><a href="/content/27/تماس-با-دارت-کالا" class="woodmart-nav-link"><span class="nav-link-text">تماس با ما</span></a></li>
                                        </ul>
                                    </div>
                                </div><!--END MAIN-NAV-->
                                <div class="whb-divider-element whb-divider-stretch "></div>
                            </div>
                            <div class="whb-column whb-col-mobile whb-hidden-lg whb-empty-column">

                            </div>
                        </div>
                    </div>
                </div>

                <div class="whb-row whb-general-header whb-sticky-row whb-with-bg whb-without-border whb-color-light whb-flex-flex-middle">
                    <div class="container">
                        <div class="whb-flex-row whb-general-header-inner">
                            <div class="whb-column whb-col-left whb-visible-lg">
                                <div class="site-logo">
                                    <div class="woodmart-logo-wrap">
                                        <a href="https://dartkala.com/" class="woodmart-logo woodmart-main-logo" rel="home">
                                            <img src="/Content/Site/images/logo.png" alt="فروشگاه لوازم یدکی دارت کالا" style="max-width: 245px;" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="whb-column whb-col-center whb-visible-lg">
                                <div class="whb-space-element " style="width:10px;"></div>
                                <div class="woodmart-search-form">


                                    <div class="searchform  search-style-with-bg">
                                        <span class="form">
                                            <input type="text" onchange="hideDropDown()" id="txtSearch" class=" form-control" placeholder="عبارت جستجو را وارد کنید ..." onkeyup="searchDropDown(this)" onfocus="this.placeholder='' " onblur="this.placeholder='عبارت جستجو را وارد کنید ...'">
                                        </span>
                                        <div class="offerbox">

                                        </div>
                                    </div>
                                    <div class="search-results-wrapper"><div class="woodmart-scroll"><div class="woodmart-search-results woodmart-scroll-content"></div></div><div class="woodmart-search-loader wd-fill"></div></div>
                                </div>
                                <div class="whb-space-element " style="width:10px;"></div>
                            </div>
                            <div class="whb-column whb-col-right whb-visible-lg">
                                <div class="whb-space-element " style="width:15px;"></div><div class="woodmart-header-links woodmart-navigation menu-simple-dropdown wd-tools-element item-event-hover  my-account-with-text login-side-opener" title="حساب کاربری من">
                                    <a href="/Account/login">
                                        <span class="wd-tools-icon">
                                        </span>
                                        <span class="wd-tools-text">
                                            ورود / ثبت نام
                                        </span>
                                    </a>

                                </div>



                                <div class="woodmart-shopping-cart wd-tools-element woodmart-cart-design-2 woodmart-cart-alt" title="سبد خرید">
                                    <a href="https://dartkala.com/cart">
                                        <span class="woodmart-cart-icon wd-tools-icon">

                                            سبد خرید
                                        </span>

                                    </a>
                                </div>
                            </div>
                            <div class="whb-column whb-mobile-left whb-hidden-lg">
                                <div class="woodmart-burger-icon wd-tools-element mobile-nav-icon whb-mobile-nav-icon wd-style-text">
                                    <a href="#">
                                        <span class="woodmart-burger wd-tools-icon"></span>
                                        <span class="woodmart-burger-label wd-tools-text">منو</span>
                                    </a>
                                </div><!--END MOBILE-NAV-ICON-->
                            </div>
                            <div class="whb-column whb-mobile-center whb-hidden-lg">
                                <div class="site-logo">
                                    <div class="woodmart-logo-wrap">
                                        <a href="https://dartkala.com/" class="woodmart-logo woodmart-main-logo" rel="home">
                                            <img src="https://dartkala.com/images/logo.png" alt="فروشگاه لوازم یدکی دارت کالا" style="max-width: 179px;" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="whb-column whb-mobile-right whb-hidden-lg">

                                <div class="woodmart-shopping-cart wd-tools-element woodmart-cart-design-5 woodmart-cart-alt" title="اطلاعات تماس دارت کالا">
                                    <a href="https://dartkala.com/content/27/تماس-با-دارت-کالا">
                                        <span class="woodmart wd-tools-icon">
                                            <i class="fa fa-phone">تماس</i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="whb-row whb-general-header whb-sticky-row  whb-with-bg whb-without-border whb-color-light whb-flex-flex-middle">

                    <div class="container">
                        <div class="whb-flex-row whb-header-bottom-inner">
                            <div class="whb-column whb-col-left whb-visible-lg">

                                <div class="header-categories-nav show-on-hover whb-wjlcubfdmlq3d7jvmt23" role="navigation">
                                    <div class="header-categories-nav-wrap">
                                        <span class="menu-opener color-scheme-dark has-bg">
                                            <span class="woodmart-burger"></span>

                                            <span class="menu-open-label">
                                                دسته بندی محصولات سایت
                                            </span>
                                            <span class="arrow-opener"></span>
                                        </span>
                                        <div class="categories-menu-dropdown vertical-navigation woodmart-navigation">
                                            <div class="menu-categories-container">
                                                <ul id="menu-categories" class="menu wd-cat-nav">
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="whb-column whb-col-center whb-visible-lg">
                                <div class="whb-navigation whb-primary-menu main-nav site-navigation woodmart-navigation menu-left navigation-style-default" role="navigation">
                                    <div class="menu-main-navigation-container">
                                        <ul id="menu-main-navigation" class="menu">
                                            <li id="menu-item-4141" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4141 item-level-0 menu-item-design-default menu-simple-dropdown item-event-hover">
                                                <a href="https://dartkala.com/" class="woodmart-nav-link"><span class="nav-link-text">خانه</span></a>
                                            </li>
                                            <li id="menu-item-4141" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4141 item-level-0 menu-item-design-default menu-simple-dropdown item-event-hover"><a href="/content/24/قوانین-و-ضوابط-خرید" class="woodmart-nav-link"><span class="nav-link-text">قوانین سایت</span></a></li>
                                            <li id="menu-item-4142" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4142 item-level-0 menu-item-design-default menu-simple-dropdown item-event-hover"><a href="/content/25/راهنمای-خرید-از-سایت" class="woodmart-nav-link"><span class="nav-link-text">راهنمای خرید</span></a></li>
                                            <li id="menu-item-4142" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4142 item-level-0 menu-item-design-default menu-simple-dropdown item-event-hover"><a href="/content/26/مشاوره-خرید" class="woodmart-nav-link"><span class="nav-link-text">مشاوره</span></a></li>
                                            <li id="menu-item-4142" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4142 item-level-0 menu-item-design-default menu-simple-dropdown item-event-hover"><a href="/blog/8/اخبار" class="woodmart-nav-link"><span class="nav-link-text">وبلاگ</span></a></li>
                                            <li id="menu-item-4142" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4142 item-level-0 menu-item-design-default menu-simple-dropdown item-event-hover"><a href="/content/27/تماس-با-دارت-کالا" class="woodmart-nav-link"><span class="nav-link-text">اطلاعات تماس</span></a></li>
                                        </ul>
                                    </div>
                                </div><!--END MAIN-NAV-->
                            </div>
                            <div class="whb-column whb-col-right whb-visible-lg">

                                <div class="whb-text-element reset-mb-10 ">
                                    <ul class="inline-list inline-list-with-border main-nav-style">
                                        <li><a class="color-primary" href="/Products/25/سفارشی" style="color:#f4a51c">پیشنهاد ویژه</a></li>
                                        <li><a href="/Account/Register" class="btn btn-color-primary btn-style-default btn-shape-semi-round btn-size-small" target="_blank" rel="noopener">سفارش کالا</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="whb-column whb-col-mobile whb-hidden-lg whb-empty-column">
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </header>



        <div class="main-page-wrapper">


            <!-- MAIN CONTENT AREA -->
            <div class="container">
                <div class="row content-layout-wrapper align-items-start">




                    <div class="site-content col-lg-12 col-12 col-md-12" role="main">

                        <article id="post-1724" class="post-1724 page type-page status-publish hentry">











                            @RenderBody()

                        </article><!-- #post -->



                    </div><!-- .site-content -->



                </div><!-- .main-page-wrapper -->
            </div> <!-- end row -->
        </div> <!-- end container -->
        <div class="woodmart-prefooter">
            <div class="container">
                <div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1534746670819 vc_row-has-fill vc_row-o-content-top vc_row-flex">
                    <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-3 vc_col-md-6 vc_col-xs-12 text-center">
                        <div class="vc_column-inner vc_custom_1533821559545">
                            <div class="wpb_wrapper">
                                <div class="info-box-wrapper ">
                                    <div id="wd-5e0c842dad370" class=" woodmart-info-box text-right box-icon-align-right box-style- color-scheme-light woodmart-bg-none box-title-small vc_custom_1577878574898">
                                        <div class="box-icon-wrapper  box-with-icon box-icon-simple">
                                            <div class="info-box-icon">


                                                <img class="info-icon image-1 " src="/Content/Site/images/icon1.png" width="58" height="53" alt="2020-01-01_14-54-01" title="2020-01-01_14-54-01" />

                                            </div>
                                        </div>
                                        <div class="info-box-content">
                                            <h4 class="info-box-title woodmart-font-weight- box-title-style-default">ارسال در تهران با پیک</h4>						<div class="info-box-inner reset-mb-10">
                                                <p>ارسال با پیک و اسنپ در تهران</p>
                                            </div>


                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-3 vc_col-md-6 vc_col-xs-12 text-center">
                        <div class="vc_column-inner vc_custom_1533821564252">
                            <div class="wpb_wrapper">
                                <div class="info-box-wrapper ">
                                    <div id="wd-5e0c8426c2e9a" class=" woodmart-info-box text-right box-icon-align-right box-style- color-scheme-light woodmart-bg-none box-title-small vc_custom_1577878568370">
                                        <div class="box-icon-wrapper  box-with-icon box-icon-simple">
                                            <div class="info-box-icon">


                                                <img class="info-icon image-1 " src="/Content/Site/images/icon2.png" width="60" height="59" alt="2020-01-01_14-54-36" title="2020-01-01_14-54-36" />

                                            </div>
                                        </div>
                                        <div class="info-box-content">
                                            <h4 class="info-box-title woodmart-font-weight- box-title-style-default">پشتیبانی 24 ساعته</h4>						<div class="info-box-inner reset-mb-10">
                                                <p>پشتیبانی به صورت مادام العمر</p>
                                            </div>


                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-3 vc_col-md-6 vc_col-xs-12 text-center">
                        <div class="vc_column-inner vc_custom_1533821570339">
                            <div class="wpb_wrapper">
                                <div class="info-box-wrapper ">
                                    <div id="wd-5e0c8420491ff" class=" woodmart-info-box text-right box-icon-align-right box-style- color-scheme-light woodmart-bg-none box-title-small vc_custom_1577878561683">
                                        <div class="box-icon-wrapper  box-with-icon box-icon-simple">
                                            <div class="info-box-icon">


                                                <img class="info-icon image-1 " src="/Content/Site/images/icon3.png" width="61" height="52" alt="2020-01-01_14-54-20" title="2020-01-01_14-54-20" />

                                            </div>
                                        </div>
                                        <div class="info-box-content">
                                            <h4 class="info-box-title woodmart-font-weight- box-title-style-default">پرداخت آنلاین</h4>						<div class="info-box-inner reset-mb-10">
                                                <p>دارای درگاه های بانکی</p>
                                            </div>


                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-3 vc_col-md-6 vc_col-xs-12 text-center">
                        <div class="vc_column-inner vc_custom_1533821575175">
                            <div class="wpb_wrapper">
                                <div class="info-box-wrapper ">
                                    <div id="wd-5e0c840bcbba4" class=" woodmart-info-box text-right box-icon-align-right box-style- color-scheme-light woodmart-bg-none box-title-small vc_custom_1577878554689">
                                        <div class="box-icon-wrapper  box-with-icon box-icon-simple">
                                            <div class="info-box-icon">


                                                <img class="info-icon image-1 " src="/Content/Site/images/icon4.png" width="70" height="54" alt="2020-01-01_14-54-45" title="2020-01-01_14-54-45" />

                                            </div>
                                        </div>
                                        <div class="info-box-content">
                                            <h4 class="info-box-title woodmart-font-weight- box-title-style-default">تحویل سریع</h4>						<div class="info-box-inner reset-mb-10">
                                                <p>ارسال به سراسر کشور</p>
                                            </div>


                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="vc_row-full-width vc_clearfix"></div>

            </div>
        </div>

        <!-- FOOTER -->
        <footer class="footer-container color-scheme-light">

            <div class="container main-footer">
                <aside class="footer-sidebar widget-area row" role="complementary">
                    <div class="footer-column footer-column-1 col-12">
                        <div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1540563044667 vc_row-has-fill vc_row-o-content-top vc_row-flex">
                            <div class="wpb_column vc_column_container vc_col-sm-3 vc_col-lg-2 vc_col-md-3 vc_col-xs-6">
                                <div class="vc_column-inner vc_custom_1533794029170">
                                    <div class="wpb_wrapper">
                                        <ul class="sub-menu mega-menu-list">
                                            <li class="">
                                                <a><span class="nav-link-text">دسترسی سریع</span></a>
                                                <ul class="sub-sub-menu">

                                                    <li id="menu-item-376" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-376 item-level-0 menu-item-design-sized menu-mega-dropdown item-event-hover">
                                                        <a href="/Products/16/موتوری" class="woodmart-nav-link"><i class="fa fa-car category-icon" /></i> <span class="nav-link-text">قطعات موتوری و گیربکس</span></a>
                                                    </li>
                                                    <li id="menu-item-376" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-376 item-level-0 menu-item-design-sized menu-mega-dropdown item-event-hover">
                                                        <a href="/Products/17/بدنه" class="woodmart-nav-link"><i class="fa fa-car category-icon" /></i> <span class="nav-link-text">قطعات بدنه و سپر</span></a>
                                                    </li>
                                                    <li id="menu-item-376" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-376 item-level-0 menu-item-design-sized menu-mega-dropdown item-event-hover">
                                                        <a href="/Products/18/الکتریکی" class="woodmart-nav-link"><i class="fa fa-car category-icon" /></i> <span class="nav-link-text">قطعات برقی</span></a>
                                                    </li>
                                                    <li id="menu-item-376" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-376 item-level-0 menu-item-design-sized menu-mega-dropdown item-event-hover">
                                                        <a href="/Products/19/جلوبندی" class="woodmart-nav-link"><i class="fa fa-car category-icon" /></i> <span class="nav-link-text">قطعات جلوبندی</span></a>
                                                    </li>


                                                </ul>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </div><div class="wpb_column vc_column_container vc_col-sm-3 vc_col-lg-2 vc_col-md-3 vc_col-xs-6">
                                <div class="vc_column-inner vc_custom_1533794022782">
                                    <div class="wpb_wrapper">
                                        <ul class="sub-menu mega-menu-list">
                                            <li class="">
                                                <a><span class="nav-link-text">لینک های مفید</span></a>
                                                <ul class="sub-sub-menu">
                                                    <li id="menu-item-376" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-376 item-level-0 menu-item-design-sized menu-mega-dropdown item-event-hover">
                                                        <a href="/Products/20/امنیتی" class="woodmart-nav-link"><i class="fa fa-car category-icon" /></i> <span class="nav-link-text">قطعات ایمنی</span></a>
                                                    </li>
                                                    <li id="menu-item-376" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-376 item-level-0 menu-item-design-sized menu-mega-dropdown item-event-hover">
                                                        <a href="/Products/21/آپشن" class="woodmart-nav-link"><i class="fa fa-car category-icon" /></i> <span class="nav-link-text">آپشن خودرو</span></a>
                                                    </li>
                                                    <li id="menu-item-376" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-376 item-level-0 menu-item-design-sized menu-mega-dropdown item-event-hover">
                                                        <a href="/Products/22/قطعه" class="woodmart-nav-link"><i class="fa fa-car category-icon" /></i> <span class="nav-link-text">قطعات مصرفی</span></a>
                                                    </li>
                                                    <li id="menu-item-376" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-376 item-level-0 menu-item-design-sized menu-mega-dropdown item-event-hover">
                                                        <a href="/Products/23/اکسسوری" class="woodmart-nav-link"><i class="fa fa-car category-icon" /></i> <span class="nav-link-text">اکسسوری خودرو</span></a>
                                                    </li>
                                                    <li id="menu-item-376" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-376 item-level-0 menu-item-design-sized menu-mega-dropdown item-event-hover">
                                                        <a href="/Products/24/داخل-خودرو" class="woodmart-nav-link"><i class="fa fa-car category-icon" /></i> <span class="nav-link-text">قطعات داخل خودرو</span></a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </div><div class="wpb_column vc_column_container vc_col-sm-3 vc_col-lg-2 vc_col-md-3 vc_col-xs-6">
                                <div class="vc_column-inner vc_custom_1533794012803">
                                    <div class="wpb_wrapper">
                                        <ul class="sub-menu mega-menu-list">
                                            <li class="">
                                                <a><span class="nav-link-text">فروشگاه های ما</span></a>
                                                <ul class="sub-sub-menu">

                                                    <li class=""><a href="#" title=""><span class="nav-link-text">تهران</span></a></li>


                                                    <li class=""><a href="#" title=""><span class="nav-link-text">کرمان</span></a></li>


                                                    <li class=""><a href="#" title=""><span class="nav-link-text">به زودی ...</span></a></li>


                                                </ul>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </div><div class="wpb_column vc_column_container vc_col-sm-3 vc_col-lg-2 vc_col-md-3 vc_col-xs-6">
                                <div class="vc_column-inner vc_custom_1533794007634">
                                    <div class="wpb_wrapper">
                                        <ul class="sub-menu mega-menu-list">
                                            <li class="">
                                                <a><span class="nav-link-text">لینک های ضروری</span></a>
                                                <ul class="sub-sub-menu">
                                                    <li id="menu-item-4141" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4141 item-level-0 menu-item-design-default menu-simple-dropdown item-event-hover"><a href="/content/24/قوانین-و-ضوابط-خرید" class="woodmart-nav-link"><span class="nav-link-text">قوانین سایت</span></a></li>
                                                    <li id="menu-item-4142" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4142 item-level-0 menu-item-design-default menu-simple-dropdown item-event-hover"><a href="/content/25/راهنمای-خرید-از-سایت" class="woodmart-nav-link"><span class="nav-link-text">راهنمای خرید</span></a></li>
                                                    <li id="menu-item-4142" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4142 item-level-0 menu-item-design-default menu-simple-dropdown item-event-hover"><a href="/content/26/مشاوره-خرید" class="woodmart-nav-link"><span class="nav-link-text">مشاوره</span></a></li>
                                                    <li id="menu-item-4142" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4142 item-level-0 menu-item-design-default menu-simple-dropdown item-event-hover"><a href="/blog/8/اخبار" class="woodmart-nav-link"><span class="nav-link-text">وبلاگ</span></a></li>
                                                    <li id="menu-item-4142" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4142 item-level-0 menu-item-design-default menu-simple-dropdown item-event-hover"><a href="/content/27/تماس-با-دارت-کالا" class="woodmart-nav-link"><span class="nav-link-text">اطلاعات تماس</span></a></li>


                                                </ul>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </div><div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-4 vc_col-md-12 vc_col-xs-12 text-left">
                                <div class="vc_column-inner vc_custom_1540563035074">
                                    <div class="wpb_wrapper">
                                        <div id="wd-5e0c825f7a478" class="woodmart-text-block-wrapper color-scheme-light woodmart-title-size-custom woodmart-title-width-100 text-right vc_custom_1577878116572">
                                            <div class="woodmart-title-container woodmart-text-block font-primary woodmart-font-weight-400">
                                                اپلیکیشن وبسایت / به زودی ...
                                            </div>

                                        </div>
                                        <div id="gallery_961" class="woodmart-images-gallery view-grid">
                                            <div class="gallery-images row woodmart-spacing-20">
                                                <div class="woodmart-gallery-item col-6">
                                                    <a href="#" data-index="1" data-width="150" data-height="49">

                                                        <img class="woodmart-gallery-image image-1 " src="/Content/Site/images/ios.png" width="150" height="49" alt="app-store-button-150x49" title="app-store-button-150x49" />
                                                    </a>
                                                </div>
                                                <div class="woodmart-gallery-item col-6">
                                                    <a href="#" data-index="2" data-width="150" data-height="49">

                                                        <img class="woodmart-gallery-image image-2 " src="/Content/Site/images/google.png" width="150" height="49" />
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="vc_row-full-width vc_clearfix"></div>

                    </div>
                </aside><!-- .footer-sidebar -->
            </div>

            <div class="copyrights-wrapper copyrights-centered">
                <div class="container">
                    <div class="min-footer">
                        <div class="col-left reset-mb-10">
                            <small>
                                <strong>
                                    <i class="fa fa-heart"></i> <i class="fa fa-html5"></i><i class="fa fa-css3"></i>
                                    <span> پشتیبانی:<a href="https://newwebdesign.org" title="شرکت طراحی سایت نیووب" target="_blank">شرکت طراحی سایت نیووب </a>  </span>
                                </strong>
                            </small>
                        </div>
                    </div>
                </div>
            </div>

        </footer>
    </div> <!-- end wrapper -->
    <div class="woodmart-close-side"></div>
    <div class="woodmart-toolbar">
        <div class="woodmart-toolbar-shop woodmart-toolbar-item wd-tools-element">
            <a href="https://dartkala.com/cart">
                <span class="wd-tools-icon"></span>
                <span class="woodmart-toolbar-label">
                    فروشگاه
                </span>
            </a>
        </div>
        <div class="woodmart-wishlist-info-widget whb-wishlist-icon wd-tools-element" title="عضویت در سایت">
            <a href="https://dartkala.com/Account/Register">
                <span class="wishlist-icon wd-tools-icon">
                </span>
                <span class="woodmart-toolbar-label">
                    عضویت در سایت
                </span>
            </a>
        </div>
        <div class="woodmart-toolbar-home woodmart-toolbar-item wd-tools-element">
            <a href="https://dartkala.com">
                <span class="wd-tools-icon"></span>
                <span class="woodmart-toolbar-label">
                    خانه
                </span>
            </a>
        </div>
        <div class="woodmart-header-links wd-tools-element my-account-with-icon  login-side-opener">
            <a href="https://dartkala.com/Account/login">
                <span class="wd-tools-icon"></span>
                <span class="woodmart-toolbar-label">
                    حساب کاربری من
                </span>
            </a>
        </div>
    </div>
    <div class="cart-widget-side">
        <div class="widget-heading">
            <h3 class="widget-title">سبد خرید</h3>
            <a href="https://dartkala.com/cart" class="close-side-widget wd-cross-button wd-with-text-left">بستن</a>
        </div>
        <div class="widget woocommerce widget_shopping_cart"><div class="widget_shopping_cart_content"></div></div>
    </div>
    <script>
        (function () {
            function addEventListener(element, event, handler) {
                if (element.addEventListener) {
                    element.addEventListener(event, handler, false);
                } else if (element.attachEvent) {
                    element.attachEvent('on' + event, handler);
                }
            }
            function maybePrefixUrlField() {
                if (this.value.trim() !== '' && this.value.indexOf('http') !== 0) {
                    this.value = "http://" + this.value;
                }
            }

            var urlFields = document.querySelectorAll('.mc4wp-form input[type="url"]');
            if (urlFields && urlFields.length > 0) {
                for (var j = 0; j < urlFields.length; j++) {
                    addEventListener(urlFields[j], 'blur', maybePrefixUrlField);
                }
            }
            /* test if browser supports date fields */
            var testInput = document.createElement('input');
            testInput.setAttribute('type', 'date');
            if (testInput.type !== 'date') {

                /* add placeholder & pattern to all date fields */
                var dateFields = document.querySelectorAll('.mc4wp-form input[type="date"]');
                for (var i = 0; i < dateFields.length; i++) {
                    if (!dateFields[i].placeholder) {
                        dateFields[i].placeholder = 'YYYY-MM-DD';
                    }
                    if (!dateFields[i].pattern) {
                        dateFields[i].pattern = '[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])';
                    }
                }
            }
        })();</script>
    <script type="text/javascript">
        var c = document.body.className;
        c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
        document.body.className = c;
    </script>

    <link rel='stylesheet' id='vc_font_awesome_5_shims-css' href='/Content/Site/css/v4-shims.min.css?ver=6.1' type='text/css' media='all' />
    <link rel='stylesheet' id='vc_font_awesome_5-css' href='/Content/Site/css/all.min.css?ver=6.1' type='text/css' media='all' />
    <style id='woodmart-inline-css-inline-css' type='text/css'>
        .tabs-wd-5e96ae9d31790.tabs-design-simple .tabs-name {
            border-color: #f4a51c;
        }

        .tabs-wd-5e96ae9d31790.tabs-design-default .products-tabs-title .tab-label:after, .tabs-wd-5e96ae9d31790.tabs-design-alt .products-tabs-title .tab-label:after {
            background-color: #f4a51c;
        }

        .tabs-wd-5e96ae9d31790.tabs-design-simple .products-tabs-title li.active-tab-title, .tabs-wd-5e96ae9d31790.tabs-design-simple .owl-nav > div:hover, .tabs-wd-5e96ae9d31790.tabs-design-simple .wrap-loading-arrow > div:not(.disabled):hover {
            color: #f4a51c;
        }
    </style>

    <script type='text/javascript' src='/Content/Site/js/scripts.js?ver=5.1.6'></script>
    <script type='text/javascript' src='/Content/Site/js/js.cookie.min.js?ver=2.1.4'></script>

    <script type='text/javascript' src='/Content/Site/js/woocommerce.min.js?ver=3.8.1'></script>

    <script type='text/javascript' src='/Content/Site/js/cart-fragments.min.js?ver=3.8.1'></script>
    <script type='text/javascript' src='/Content/Site/js/js_composer_front.min.js?ver=6.1'></script>
    <script type='text/javascript' src='/Content/Site/js/imagesloaded.min.js?ver=3.2.0'></script>
    <script type='text/javascript' src='/Content/Site/js/owl.carousel.min.js?ver=4.3.0'></script>
    <script type='text/javascript' src='/Content/Site/js/jquery.tooltips.min.js?ver=4.3.0'></script>
    <script type='text/javascript' src='/Content/Site/js/jquery.magnific-popup.min.js?ver=4.3.0'></script>
    <script type='text/javascript' src='/Content/Site/js/device.min.js?ver=4.3.0'></script>
    <script type='text/javascript' src='/Content/Site/js/waypoints.min.js?ver=4.3.0'></script>
    <script type='text/javascript' src='/Content/Site/js/jquery.nanoscroller.min.js?ver=4.3.0'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var woodmart_settings = { "adding_to_cart": "\u062f\u0631 \u062d\u0627\u0644 \u0627\u0646\u062c\u0627\u0645", "added_to_cart": "\u0645\u062d\u0635\u0648\u0644 \u0628\u0627 \u0645\u0648\u0641\u0642\u06cc\u062a \u0628\u0647 \u0633\u0628\u062f \u062e\u0631\u06cc\u062f \u0634\u0645\u0627 \u0627\u0641\u0632\u0648\u062f\u0647 \u0634\u062f.", "continue_shopping": "\u0627\u062f\u0627\u0645\u0647 \u062e\u0631\u06cc\u062f", "view_cart": "\u0646\u0645\u0627\u06cc\u0634 \u0633\u0628\u062f \u062e\u0631\u06cc\u062f", "go_to_checkout": "\u062a\u0633\u0648\u06cc\u0647 \u062d\u0633\u0627\u0628", "loading": "\u062f\u0631\u062d\u0627\u0644 \u0628\u0627\u0631\u06af\u0632\u0627\u0631\u06cc...", "countdown_days": "\u0631\u0648\u0632", "countdown_hours": "\u0633\u0627\u0639\u062a", "countdown_mins": "\u062f\u0642\u06cc\u0642\u0647", "countdown_sec": "\u062b\u0627\u0646\u06cc\u0647", "cart_url": "http:\/\/dartkala.com\/cart\/", "ajaxurl": "http:\/\/dartkala.com\/wp-admin\/admin-ajax.php", "add_to_cart_action": "widget", "added_popup": "no", "categories_toggle": "yes", "enable_popup": "no", "popup_delay": "2000", "popup_event": "time", "popup_scroll": "1000", "popup_pages": "0", "promo_popup_hide_mobile": "yes", "product_images_captions": "no", "ajax_add_to_cart": "1", "all_results": "\u0645\u0634\u0627\u0647\u062f\u0647 \u0647\u0645\u0647 \u0646\u062a\u0627\u06cc\u062c", "product_gallery": { "images_slider": true, "thumbs_slider": { "enabled": true, "position": "bottom", "items": { "desktop": 4, "tablet_landscape": 3, "tablet": 4, "mobile": 3, "vertical_items": 3 } } }, "zoom_enable": "yes", "ajax_scroll": "yes", "ajax_scroll_class": ".main-page-wrapper", "ajax_scroll_offset": "100", "infinit_scroll_offset": "300", "product_slider_auto_height": "yes", "price_filter_action": "click", "product_slider_autoplay": "", "close": "\u0628\u0633\u062a\u0646 ( \u062e\u0631\u0648\u062c)", "share_fb": "\u0627\u0634\u062a\u0631\u0627\u06a9 \u06af\u0630\u0627\u0631\u06cc \u062f\u0631 Facebook", "pin_it": "\u0627\u06cc\u0646 \u0631\u0627 \u0633\u0646\u062c\u0627\u0642 \u06a9\u0646", "tweet": "\u062a\u0648\u0626\u06cc\u062a", "download_image": "\u062f\u0627\u0646\u0644\u0648\u062f \u062a\u0635\u0648\u06cc\u0631", "cookies_version": "1", "header_banner_version": "1", "promo_version": "1", "header_banner_close_btn": "1", "header_banner_enabled": "0", "whb_header_clone": "\n                <\/div>\n        <\/div>\n    <\/div>\n", "pjax_timeout": "5000", "split_nav_fix": "", "shop_filters_close": "no", "woo_installed": "1", "base_hover_mobile_click": "no", "centered_gallery_start": "1", "quickview_in_popup_fix": "", "disable_nanoscroller": "enable", "one_page_menu_offset": "150", "hover_width_small": "1", "is_multisite": "", "current_blog_id": "1", "swatches_scroll_top_desktop": "0", "swatches_scroll_top_mobile": "", "lazy_loading_offset": "70", "add_to_cart_action_timeout": "no", "add_to_cart_action_timeout_number": "3", "single_product_variations_price": "no", "google_map_style_text": "\u0627\u0633\u062a\u0627\u06cc\u0644 \u0633\u0641\u0627\u0631\u0634\u06cc", "quick_shop": "yes", "sticky_product_details_offset": "150", "comment_images_upload_size_text": "\u0641\u0627\u06cc\u0644 \u0647\u0627 \u062e\u06cc\u0644\u06cc \u0628\u0632\u0631\u06af \u0647\u0633\u062a\u0646\u062f. \u0633\u0627\u06cc\u0632 \u0641\u0627\u06cc\u0644 \u0645\u062c\u0627\u0632 1 MB \u0645\u06cc \u0628\u0627\u0634\u062f.", "comment_images_count_text": "\u0634\u0645\u0627 \u0645\u06cc \u062a\u0648\u0627\u0646\u06cc\u062f 3 \u062a\u0635\u0648\u06cc\u0631 \u0628\u0631\u0627\u06cc \u0646\u0638\u0631 \u062e\u0648\u062f \u0622\u067e\u0644\u0648\u062f \u06a9\u0646\u06cc\u062f.", "comment_images_upload_mimes_text": "\u0641\u0631\u0645\u062a \u0647\u0627\u06cc \u062a\u0635\u0648\u06cc\u0631\u06cc \u0645\u062c\u0627\u0632 \u0628\u0631\u0627\u06cc \u0622\u067e\u0644\u0648\u062f png, jpeg \u0645\u06cc \u0628\u0627\u0634\u0646\u062f.", "comment_images_added_count_text": "%s \u062a\u0635\u0648\u06cc\u0631 \u0627\u0636\u0627\u0641\u0647 \u0634\u062f\u0647 \u0627\u0633\u062a", "comment_images_upload_size": "1048576", "comment_images_count": "3", "comment_images_upload_mimes": { "jpg|jpeg|jpe": "image\/jpeg", "png": "image\/png" }, "home_url": "http:\/\/dartkala.com\/", "shop_url": "http:\/\/dartkala.com\/shop\/", "age_verify": "no", "age_verify_expires": "30" };
        var woodmart_variation_gallery_data = null;
        /* ]]> */
    </script>
    <script type='text/javascript' src='/Content/Site/js/functions.min.js?ver=4.3.0'></script>
    <script type='text/javascript' src='/Content/Site/js/underscore.min.js?ver=1.8.3'></script>

    <script type='text/javascript' src='/Content/Site/js/wp-util.min.js?ver=5.3.2'></script>

    <script type='text/javascript' src='/Content/Site/js/add-to-cart-variation.min.js?ver=3.8.1'></script>
    <script type='text/javascript' src='/Content/Site/js/wp-embed.min.js?ver=5.3.2'></script>
    <script type='text/javascript' src='/Content/Site/js/jquery.autocomplete.min.js?ver=4.3.0'></script>
    <script type='text/javascript' src='/Content/Site/js/jquery.sticky-kit.min.js?ver=4.3.0'></script>
    <script type='text/javascript' src='/Content/Site/js/countdown.min.js?ver=4.3.0'></script>
    <script type='text/javascript' src='/Content/Site/js/photoswipe-bundle.min.js?ver=4.3.0'></script>

    <script type='text/javascript'>
        /* <![CDATA[ */
        var mc4wp_forms_config = [];
        /* ]]> */
    </script>
    <script type='text/javascript' src='/Content/Site/js/forms-api.min.js?ver=4.7.4'></script>

    <div class="mobile-nav slide-from-right">
        <div class="woodmart-search-form">

            <div class="search-results-wrapper"><div class="woodmart-scroll"><div class="woodmart-search-results woodmart-scroll-content"></div></div><div class="woodmart-search-loader wd-fill"></div></div>
        </div>
        <div class="mobile-nav-tabs">
            <ul>
                <li class="mobile-tab-title mobile-pages-title active" data-menu="pages"><span>منو</span></li>
                <li class="mobile-tab-title mobile-categories-title" data-menu="categories"><span>دسته بندی ها</span></li>
            </ul>
        </div>
        <div class="mobile-menu-tab mobile-categories-menu">
            <div class="menu-%d9%85%d9%86%d9%88%db%8c-%d8%af%d8%b3%d8%aa%d9%87-%d8%a8%d9%86%d8%af%db%8c-%d8%b9%d9%85%d9%88%d8%af%db%8c-container">
                <ul id="menu-%d9%85%d9%86%d9%88%db%8c-%d8%af%d8%b3%d8%aa%d9%87-%d8%a8%d9%86%d8%af%db%8c-%d8%b9%d9%85%d9%88%d8%af%db%8c-1" name="moblie-root-menu" class="site-mobile-menu">
                    @*<li id="menu-item-376" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-376 item-level-0 menu-item-design-sized menu-mega-dropdown item-event-hover">
                            <a href="/Products/16/موتوری" class="woodmart-nav-link"><i class="fa fa-car category-icon" /></i> <span class="nav-link-text">قطعات موتوری و گیربکس</span></a><i class="iconArrow"></i>
                            <ul class="submenumobile">
                                <li class="menu-item1">
                                    <a href="#">hamid</a>
                                    <i class="iconArrow1"></i>
                                    <ul class="subsubmenumobile">
                                        <li class="menu-item2">
                                            <a href="#">amin</a>
                                            <a href="#">amin</a>
                                            <a href="#">amin</a>
                                            <a href="#">amin</a>
                                            <a href="#">amin</a>
                                            <a href="#">amin</a>
                                            <a href="#">amin</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>*@
                    @*<li id="menu-item-376" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-376 item-level-0 menu-item-design-sized menu-mega-dropdown item-event-hover">
                            <a href="/Products/17/بدنه" class="woodmart-nav-link"><i class="fa fa-car category-icon" /></i> <span class="nav-link-text">قطعات بدنه و سپر</span></a><i class="iconArrow"></i>
                        </li>
                        <li id="menu-item-376" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-376 item-level-0 menu-item-design-sized menu-mega-dropdown item-event-hover">
                            <a href="/Products/18/الکتریکی" class="woodmart-nav-link"><i class="fa fa-car category-icon" /></i> <span class="nav-link-text">قطعات برقی</span></a><i class="iconArrow"></i>
                        </li>
                        <li id="menu-item-376" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-376 item-level-0 menu-item-design-sized menu-mega-dropdown item-event-hover">
                            <a href="/Products/19/جلوبندی" class="woodmart-nav-link"><i class="fa fa-car category-icon" /></i> <span class="nav-link-text">قطعات جلوبندی</span></a><i class="iconArrow"></i>
                        </li>
                        <li id="menu-item-376" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-376 item-level-0 menu-item-design-sized menu-mega-dropdown item-event-hover">
                            <a href="/Products/20/امنیتی" class="woodmart-nav-link"><i class="fa fa-car category-icon" /></i> <span class="nav-link-text">قطعات ایمنی</span></a>
                        </li>
                        <li id="menu-item-376" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-376 item-level-0 menu-item-design-sized menu-mega-dropdown item-event-hover">
                            <a href="/Products/21/آپشن" class="woodmart-nav-link"><i class="fa fa-car category-icon" /></i> <span class="nav-link-text">آپشن خودرو</span></a>
                        </li>
                        <li id="menu-item-376" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-376 item-level-0 menu-item-design-sized menu-mega-dropdown item-event-hover">
                            <a href="/Products/22/قطعه" class="woodmart-nav-link"><i class="fa fa-car category-icon" /></i> <span class="nav-link-text">قطعات مصرفی</span></a>
                        </li>
                        <li id="menu-item-376" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-376 item-level-0 menu-item-design-sized menu-mega-dropdown item-event-hover">
                            <a href="/Products/23/اکسسوری" class="woodmart-nav-link"><i class="fa fa-car category-icon" /></i> <span class="nav-link-text">اکسسوری خودرو</span></a>
                        </li>
                        <li id="menu-item-376" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-376 item-level-0 menu-item-design-sized menu-mega-dropdown item-event-hover">
                            <a href="/Products/24/داخل-خودرو" class="woodmart-nav-link"><i class="fa fa-car category-icon" /></i> <span class="nav-link-text">قطعات داخل خودرو</span></a>
                        </li>*@
                </ul>
            </div>
        </div><div class="mobile-menu-tab mobile-pages-menu active">
            <div class="menu-cliven_mobile_menu-container">
                <ul id="menu-cliven_mobile_menu" class="site-mobile-menu">
                    <li id="menu-item-4141" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4141 item-level-0 menu-item-design-default menu-simple-dropdown item-event-hover">
                        <a href="https://dartkala.com" class="woodmart-nav-link"><span class="nav-link-text">خانه</span></a>
                    </li>
                    <li id="menu-item-4141" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4141 item-level-0 menu-item-design-default menu-simple-dropdown item-event-hover"><a href="/content/24/قوانین-و-ضوابط-خرید" class="woodmart-nav-link"><span class="nav-link-text">قوانین سایت</span></a></li>
                    <li id="menu-item-4142" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4142 item-level-0 menu-item-design-default menu-simple-dropdown item-event-hover"><a href="/content/25/راهنمای-خرید-از-سایت" class="woodmart-nav-link"><span class="nav-link-text">راهنمای خرید</span></a></li>
                    <li id="menu-item-4142" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4142 item-level-0 menu-item-design-default menu-simple-dropdown item-event-hover"><a href="/content/26/مشاوره-خرید" class="woodmart-nav-link"><span class="nav-link-text">مشاوره</span></a></li>
                    <li id="menu-item-4142" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4142 item-level-0 menu-item-design-default menu-simple-dropdown item-event-hover"><a href="/blog/8/اخبار" class="woodmart-nav-link"><span class="nav-link-text">وبلاگ</span></a></li>
                    <li id="menu-item-4142" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4142 item-level-0 menu-item-design-default menu-simple-dropdown item-event-hover"><a href="/content/27/تماس-با-دارت-کالا" class="woodmart-nav-link"><span class="nav-link-text">اطلاعات تماس</span></a></li>

                </ul>
            </div>
        </div>
    </div><!--END MOBILE-NAV-->


    <div class="login-form-side">
        <div class="widget-heading">
            <h3 class="widget-title">ورود</h3>
            <a href="#" class="close-side-widget wd-cross-button wd-with-text-left">بستن (Esc)</a>
        </div>

        <div class="login woocommerce-form woocommerce-form-login ">



            <p class="woocommerce-FormRow woocommerce-FormRow--wide form-row form-row-wide form-row-username">
                برای خرید در سایت بر روی لینک زیر کلیک کرده و پس از ثبت نام در سایت، برای خرید خود اقدام کنید
                <br />
                <a type="submit" href="https://dartkala.com/Account/Register" class="button woocommerce-button woocommerce-form-login__submit" name="login" value="ورود">عضویت در سایت</a>
            </p>
            <br />
            <p class="woocommerce-FormRow woocommerce-FormRow--wide form-row form-row-wide form-row-password">
                برای ثبت سفارش به صورت عمده از طریق لینک زیر وارد شده و پس از ثبت نام و ارسال مدارک  خود، منتظر تایید مدیر سایت باشید
                <br />
                <a type="submit" href="https://dartkala.com/Account/Register" class="button woocommerce-button woocommerce-form-login__submit" name="login" value="ورود">عضویت  سفارش عمده</a>
            </p>

            <br />
            <p class="form-row">
                <input type="hidden" id="woocommerce-login-nonce" name="woocommerce-login-nonce" value="9bdc2a0802" />
                <input type="hidden" name="_wp_http_referer" value="/" />
                <a type="submit" href="https://dartkala.com/Account/login" class="button woocommerce-button woocommerce-form-login__submit" name="login" value="ورود">ورود به پنل کاربری</a>
            </p>
            <br />
            <div class="login-form-footer">
                <a href="//Account/login" class="woocommerce-LostPassword lost_password">رمز عبور را فراموش کرده اید؟</a>
            </div>



        </div>


        <div class="create-account-question">
            <span class="create-account-text">هنوز حساب کاربری ندارید؟</span>
            <a href="/Account/Register" class="btn btn-style-link btn-color-primary create-account-button">ایجاد حساب کاربری</a>
        </div>
    </div>
    <a href="#" class="scrollToTop">بالای سایت</a>
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

        <!-- Background of PhotoSwipe.
             It's a separate element as animating opacity is faster than rgba(). -->
        <div class="pswp__bg"></div>

        <!-- Slides wrapper with overflow:hidden. -->
        <div class="pswp__scroll-wrap">

            <!-- Container that holds slides.
                PhotoSwipe keeps only 3 of them in the DOM to save memory.
                Don't modify these 3 pswp__item elements, data is added later on. -->
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
            <div class="pswp__ui pswp__ui--hidden">

                <div class="pswp__top-bar">

                    <!--  Controls are self-explanatory. Order can be changed. -->

                    <div class="pswp__counter"></div>

                    <button class="pswp__button pswp__button--close" title="بستن (Esc)"></button>

                    <button class="pswp__button pswp__button--share" title="اشتراک گذاری"></button>

                    <button class="pswp__button pswp__button--fs" title="تبدیل به حالت تمام صفحه"></button>

                    <button class="pswp__button pswp__button--zoom" title="بزرگنمایی/کوچکنمایی"></button>

                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>

                <button class="pswp__button pswp__button--arrow--left" title="قبلی (نشانگر چپ)"></button>

                <button class="pswp__button pswp__button--arrow--right" title="بعدی(نشانگر راست)"></button>

                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>

            </div>

        </div>

    </div>


    @RenderSection("Scripts", false)

    <script>
        $.fn.digits = function () {
            return this.each(function () {
                $(this).text($(this).text().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,"));
            })
        }
        $(".nsprice").digits();
        $(".b-goods-price-old").digits();
        $(".b-goods-price").digits();

        function searchDropDown(el) {

            // $('#txtSearch').attr('data-url'
            if ($(el).val().length > 2) {
                $.ajax({
                    url: '/Search/QuickSearch',
                    type: 'post',
                    data: { text: $(el).val() },
                    success: function (result) {
                        $('.offerbox').find('a').remove();
                        $.each(result, function (index, value) {
                            if (value.IsGroup)
                                $('.offerbox').append(`<a data-isGroup="1" onclick="selectItem(this)" data-title="${value.Title}"  data-itemId="${value.Id}" class="offerItem">${value.Title}                  (${'دسته بندی'})</a>`)
                            else
                                $('.offerbox').append(`<a data-isGroup="0" onclick="selectItem(this)" data-titleUrl="${value.TitleUrl}" data-itemId="${value.Id}" class="offerItem">${value.Title}</a>`)
                        })
                    },
                    error: function (error) {
                        console.log(error);
                    }
                })
                $('.offerbox').css('opacity', '1');
            }
            else
                $('.offerbox').css('opacity', '0');
        }
        $(document).keyup(function (e) {
            if (e.keyCode == 13) {
                debugger;
                var pathname = window.location.pathname;
                var url = $('#txtSearch').attr('data-url');
                if (url == null || url.length < 5 || pathname == url)
                    this.location.href = '/Search?q=' + $('#txtSearch').val();
                else
                    location.href = url;
                //$('html').load($(this).attr('data-url'))

            }
        });
        function selectItem(el) {
            $('#txtSearch').val($(el).html());
            var url = '/products/'
            if ($(el).attr('data-isGroup') == 1) {
                url += $(el).attr('data-itemId') + '/' + $(el).attr('data-title')
            }
            else {

                url += 'details/' + $(el).attr('data-itemId') + '/' + $(el).attr('data-titleUrl')
            }
            $('#txtSearch').attr('data-url', url);
            location.href = url;
        }
        function hideDropDown() {

            $('.offerbox').css('opacity', '0');
        }
        function addSubGroup(allGroups, subGroupList, groupid) {
            var level = getLiLevelMoblie(allGroups, groupid, 0);
            var result = '<ul class="section-nav'+level+' col1" style="" id="ulSubGroups' + groupid + '">';
            $.each(subGroupList, function (index, value) {
                result += `<li class="toc-entry toc-h2"><a class="a-subGroup" href="/Products/${value.Id}/${value.Name}">${value.Name}</a>`;
                if (allGroups.filter(x => x.ParentId == value.Id).length > 0)
                    result += addSubGroup(allGroups, allGroups.filter(x => x.ParentId == value.Id), value.Id);
                result += '</li>';
            });
            result += '</ul> ';
            return result;
        }
        function addSubGroupMoblie(allGroups, subGroupList, groupid) {
            var level = getLiLevelMoblie(allGroups, groupid, 0);
            var result = `<ul class="submenumobile${level}" id="ulSubGroupsMoblie${groupid}">`;
            $.each(subGroupList, function (index, value) {
                result += `<li class="menu-item${level}"><a href="/Products/${value.Id}/${value.Name}">${value.Name}</a>`;

                if (allGroups.filter(x => x.ParentId == value.Id).length > 0) {
                    result += `<i class="iconArrow1"></i>`;
                    result += addSubGroupMoblie(allGroups, allGroups.filter(x => x.ParentId == value.Id), value.Id);
                }
                result += '</li>';
            });
            result += '</ul> ';
            return result;
        }
        function getLiLevelMoblie(allGroups, groupid, level) {
            var group = allGroups.filter(x => x.Id == groupid);
            if (group[0].ParentId == null || group[0].ParentId == '')
                level += 1;
            else {
                level += 1;
                level = getLiLevelMoblie(allGroups, group[0].ParentId, level);
            }
            return level;
        }
        function showChildren(el) {
            $(el).closest('ul').find('li').removeClass('active');
            $(el).addClass('active');
            $('#subGroupList').css('opacity', '1')
            var id = $(el).attr('data-groupid');
            $('#subGroupList').find('ul').css('display', 'none')
            $('#subGroupList').find('ul[id=ulSubGroups' + id + ']').css('display', '')
            $('#subGroupList').find('ul[id="ulSubGroups' + id + '"]').find('ul').css('display', '')
        }
        $(document).ready(function () {
            $.ajax({
                url: '/Products/GetProductGroup',
                type: 'post',
                success: function (data) {
                    var rootGroups = data.filter(x => x.ParentId == null || x.ParentId == '');
                    $.each(rootGroups, function (index, value) {
                        //================== append to desktop menu ==================//
                        $('#menu-categories').append(`
                                                            <li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-376 item-level-0 menu-item-design-sized menu-mega-dropdown item - event - hover">
                                                                <a href = "/Products/${value.Id}/${value.Name}" class= "woodmart-nav-link" >
                                                                    <i class="fa fa-car category-icon" ></i >
                                                                    <span class="nav-link-text"> ${value.Name}</span>
                                                                </a>

                                                                <div id="div${value.Id}" class="submenu">

                                                                    </div>

                                                            </li >`);
                        //=================== append to moblie menu ====================//
                        $('[Name="moblie-root-menu"]').append(`
                                     <li id = "menu-item-376" name="subMenuMoblie${value.Id}" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-376 item-level-0 menu-item-design-sized menu-mega-dropdown item-event-hover" >
                                     <a href="/Products/${value.Id}/${value.Name}" class="woodmart-nav-link"><i class="fa fa-car category-icon" /></i> <span class="nav-link-text">${value.Name}</span></a > <i class="iconArrow"></i>
                                     </li >`);
                    });
                    $.each(rootGroups, function (index, value) {
                        if (data.filter(x => x.ParentId == value.Id).length == 0)
                            return;
                        var htmtext = addSubGroup(data, data.filter(x => x.ParentId == value.Id), value.Id);
                        var Mobliemenutext = addSubGroupMoblie(data, data.filter(x => x.ParentId == value.Id), value.Id);
                        $('#div' + value.Id).append(htmtext);
                        $('[name="subMenuMoblie' + value.Id + '"]').append(Mobliemenutext);
                    });
                    $(".mobile-categories-menu i.iconArrow , .mobile-categories-menu i.iconArrow1 , .mobile-categories-menu i.iconArrow2").click(function (e) {
                        e.preventDefault();
                        debugger;
                        $(this).parent().toggleClass("open")
                    });
                },
                error: function (error) {
                    console.log(error)
                }
            })
        })
    </script>

    <script>
        $(".mobile-categories-menu i.iconArrow , .mobile-categories-menu i.iconArrow1 , .mobile-categories-menu i.iconArrow2").click(function (e) {
            e.preventDefault();
            debugger;
            $(this).parent().toggleClass("open")
        });
    </script>
</body>
</html>
