@model AlmaCMS.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "تغییر رمز عبور";
    Layout = "~/Areas/Expert/Views/Shared/_LayoutDashboardExpert.cshtml";
}

<div class="tg-dashboardbanner">
    <h1>تغییر رمز عبور</h1>
    <ol class="tg-breadcrumb">
        <li><a href="/">صفحه اصلی</a></li>
        <li><a href="/Profile">حساب کاربری</a></li>
        <li class="tg-active">تغییر رمز عبور</li>
    </ol>
</div>
<main id="tg-main" class="tg-main tg-haslayout">
    <section class="tg-dbsectionspace tg-haslayout">
        <div class="row">
            <div class="tg-formtheme tg-formdashboard">
                <fieldset>
                    <div class="col-xs-12 tg-lgcolwidthhalf">
                        <div class="tg-dashboardbox">
                            <div class="tg-dashboardboxtitle">
                                <h2>تغییر رمز عبور</h2>
                            </div>
                            <div class="tg-dashboardholder">
                                <div class="col-sm-4 col-sm-offset-4">
                                    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary("", new { @class = "text-danger" })
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", @placeholder = "رمز عبور فعلی" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @placeholder = "رمز عبور جدید" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "تکرار رمز عبور جدید" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <button class="tg-btn tg-btnactionregister mt-0 btn-block" type="submit"><i class="fa fa-key"></i> تغییر رمز عبور</button>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </section>
</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}